<template>
  <a-modal @cancel="hide" okText="Save" @ok="onsubmit" :visible="visible" :title="id ? 'Update Category' : 'Create Category'">
    <a-form-model ref="form" :model="workingItem">
      <a-form-model-item label="name" prop="categoryName" :rules="[{required:true,message: 'This field is required'}]">
        <a-input placehoder="Name" v-model="workingItem.categoryName"></a-input>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
import {createCategory,getCategoryById,updateCategory} from "../../../services/category"
export default {
  data() {
    return {
      visible: false,
      id: undefined,
      workingItem: {}
    }
  },
  methods: {
    async show (id) {
      this.visible = true
      if(id){
        this.id = id
        const res = await getCategoryById(id)
        this.workingItem = res
      }
    },
    hide(){
      this.$refs.form.resetFields()
      this.visible = false
    },
    async onsubmit(){
      this.$refs.form.validate(async valid => {
        if(!valid) return
        if(this.id){
          await updateCategory(this.id,this.workingItem)
              .then(()=>{
                this.$notification.success({
                  message: 'Update category successful'
                })
                this.$emit('ok')
                this.hide()
              }).catch(()=>{
                this.$notification.error({
                  message: 'Update category failed'
                })
              })
        }else{
          await createCategory({categoryName: this.workingItem.categoryName})
              .then(()=>{
                this.$notification.success({
                  message: 'Add category successful'
                })
                this.$emit('ok')
                this.hide()
              }).catch(()=>{
                this.$notification.error({
                  message: 'Add category failed'
                })
              })
        }
      })
    }
  },
}
</script>

<style scoped>

</style>