<template>
  <a-modal width="900px" title="Update Order Info" :confirm-loading="loading" @cancel="hide" @ok="onsubmit" :visible="visible">
    <a-card :bordered="false">
      <a-form-model ref="form" :model="workingItem">
        <a-row :gutter="12">
          <a-col :span="12">
            <a-form-model-item label="First Name" prop="firstName" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="First Name" v-model="workingItem.firstName" :maxLengh="255"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Last Name" prop="lastName" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="Last Name" v-model="workingItem.lastName" :maxLengh="255"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="City/Province" prop="city" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @change="handleCityChange" @search="handleCitySearch" placeholder="Select City/Province" show-search v-model="workingItem.city">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in cityDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="District" prop="district" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @change="handleDistrictChange" @search="handleDistrictSearch" :disabled="!workingItem.city" placeholder="Select District" show-search v-model="workingItem.district">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in districtDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="Commune" prop="commune" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @search="handleCommuneSearch" :disabled="!workingItem.district" placeholder="Select Commune" show-search v-model="workingItem.commune">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in communeDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="24">
            <a-form-model-item label="Address Details" prop="addressDetails" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="Address Details" v-model="workingItem.addressDetails"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Phone" prop="phoneNumber" :rules="[{required: true,message: 'This field is required'},{pattern: '^(\\+\\d{1,3}[- ]?)?\\d{10,11}$', message: 'The input is not valid phone number!'}]">
              <a-input placeholder="Address Details" v-model="workingItem.phoneNumber"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Email" prop="email" :rules="[{required: true,message: 'This field is required'},{type:'email',message:'The input is not valid E-mail!'}]">
              <a-input placeholder="Address Details" v-model="workingItem.email"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="24">
            <a-form-model-item label="Note" prop="email">
              <a-input :maxLength="500" :rows="5" type="textarea" placeholder="Note" v-model="workingItem.note"></a-input>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-card>
  </a-modal>
</template>

<script>
import {getOrderById, updateOrder} from "../../../services/order"
import {getListCity, getListCommune, getListDistrict} from "../../../services/address"
export default {
  data() {
    return {
      id: undefined,
      loading: true,
      visible: false,
      cityDataSource: [],
      districtDataSource: [],
      communeDataSource: [],
      workingItem: {},
      queryParams: {}
    }
  },
  methods: {
    async show(id) {
      this.id = id
      this.visible = true
      const res = await getOrderById(id)
      const [city,district,commune] = res.address.split("-")
      await Promise.all([
          this.loadListCity(),
          this.loadListDistrict(district),
          this.loadListCommune(commune)
      ])
      this.workingItem = res
      this.workingItem.city=city
      this.workingItem.district=district
      this.workingItem.commune=commune
      this.loading = false
    },
    hide(){
      this.$refs.form.resetFields()
      this.visible = false
    },
    async loadListCity (code) {
      const res = await getListCity(this.queryParams)
      this.cityDataSource = res.data
    },
    async loadListDistrict (code) {
      const res = await getListDistrict({...this.queryParams})
      this.districtDataSource = res.data
    },
    async loadListCommune (code) {
      const res = await getListCommune({...this.queryParams})
      this.communeDataSource = res.data
    },
    async handleCitySearch (value) {
      this.queryParams.name = value
      await this.loadListCity()
      this.clearQueryParam()
    },
    async handleDistrictSearch (value) {
      this.queryParams.name = value
      await this.loadListDistrict()
      this.clearQueryParam()
    },
    async handleCommuneSearch (value) {
      this.queryParams.name = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    async handleCityChange (value) {
      this.queryParams.provinceCode = value
      await Promise.all([this.loadListCommune(),this.loadListDistrict()])
      this.clearQueryParam()
    },
    async handleDistrictChange (value) {
      this.queryParams.districtCode = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    clearQueryParam () {
      this.queryParams = {
        ...this.queryParams,
        name: undefined,
        code: undefined,
        pageSize: 999999999
      }
    },
    async onsubmit(){
      this.$refs.form.validate(async valid => {
        if(!valid) return
        const params = {
          ...this.workingItem,
          address: [this.workingItem.city,this.workingItem.district,this.workingItem.commune].join("-")
        }
        await updateOrder(this.id,params).then(res => {
          this.$notification.success({message:'Successful'})
          this.$emit('ok')
          this.hide()
        }).catch(err => {
          this.$notification.error({message: err?.response?.data?.message || 'Faile'})
        })
      })
    }
  },
}
</script>

<style scoped>

</style>