<template>
  <a-modal width="900px" title="Create Order" :confirm-loading="loading" @cancel="hide" @ok="onsubmit" :visible="visible">
    <a-card :bordered="false">
      <a-form-model ref="form" :model="workingItem">
        <a-row :gutter="12">
          <a-col :span="24">
            <a-button @click="handleAddProduct" type="primary" icon="plus">Add Product</a-button>
          </a-col>
          <a-col :span="24">
            <a-form-model-item prop="productSelected" :rules="[{required: true,message: 'This field is required',trigger:'change'}]">
              <a-table
                  rowKey="id"
                  :data-source="workingItem.productSelected"
                  :columns="columns"
              >
                <template slot="price" slot-scope="text, record">
                  {{ CurrencyFormat(record.total) }}
                </template>
                <template slot="product" slot-scope="text, record">
                  <div>
                    <a-select
                        :disabled="!record.editable"
                        :filterOption="false"
                        v-model="record.productId"
                        show-search
                        @search="fetchProduct"
                        @change="value => handleProductChange(value,record.id)">
                      <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                      <a-select-option v-for="(item,index) in productDataSource" :key="index" :value="item.id">
                        {{item.name}}
                      </a-select-option>
                    </a-select>
                    <span v-show="record.isDirty && !record.productId" style="color: red">This field is required</span>
                  </div>
                </template>
                <template slot="variant" slot-scope="text, record">
                  <div>
                    <a-select :disabled="!record.editable" v-model="record.variantId" @change="handleVariantChange">
                      <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                      <a-select-option v-for="(item,index) in variantDataSource" :key="index" :value="item.id">
                        {{item.name}}
                      </a-select-option>
                    </a-select>
                    <span v-show="record.isDirty && !record.variantId" style="color: red">This field is required</span>
                  </div>
                </template>
                <template slot="size" slot-scope="text, record">
                  <div>
                    <a-select :disabled="!record.editable" v-model="record.size">
                      <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                      <a-select-option v-for="(item,index) in sizeDataSource" :key="index" :value="item.sizeCode">
                        {{item.sizeCode}}
                      </a-select-option>
                    </a-select>
                    <span v-show="record.isDuplicated" style="color: red">Duplicated size</span>
                    <span v-show="record.isDirty && !record.size" style="color: red">This field is required</span>
                  </div>
                </template>
                <template slot="quantity" slot-scope="text, record">
                  <a-input-number
                      @change="getTotalPrice(record)"
                      :disabled="!record.editable"
                      style="width: 100%;"
                      v-model="record.quantity"
                      :min="0"
                      :max="999999"
                      :formatter="value => `${value}`.replace(/[^0-9]/g, '')"
                      :parser="value => value"
                  />
                  <span v-show="record.isDirty && !record.quantity" style="color: red">This field is required</span>
                </template>
                <template slot="action" slot-scope="text, record, index">
                  <a-button @click="productActions(record.id,'save')" v-if="record.editable"  type="primary" shape="circle" icon="save"></a-button>
                  <a-button v-else @click="productActions(record.id,'edit')" style="background: #35d230" shape="circle" icon="edit"></a-button>
                  <a-button @click="productActions(record.id,'delete')" type="danger" shape="circle" icon="delete"></a-button>
                </template>
              </a-table>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="First Name" prop="firstName" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="First Name" v-model="workingItem.firstName" :maxLengh="255"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Last Name" prop="lastName" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="Last Name" v-model="workingItem.lastName" :maxLengh="255"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="City/Province" prop="city" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @change="handleCityChange" @search="handleCitySearch" placeholder="Select City/Province" show-search v-model="workingItem.city">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in cityDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="District" prop="district" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @change="handleDistrictChange" @search="handleDistrictSearch" :disabled="!workingItem.city" placeholder="Select District" show-search v-model="workingItem.district">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in districtDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="8">
            <a-form-model-item label="Commune" prop="commune" :rules="[{required: true,message: 'This field is required'}]">
              <a-select :filter-option="false" @search="handleCommuneSearch" :disabled="!workingItem.district" placeholder="Select Commune" show-search v-model="workingItem.commune">
                <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                <a-select-option v-for="(item,index) in communeDataSource" :key="index" :value="item.code">
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>
          <a-col :span="24">
            <a-form-model-item label="Address Details" prop="addressDetails" :rules="[{required: true,message: 'This field is required'}]">
              <a-input placeholder="Address Details" v-model="workingItem.addressDetails"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Phone" prop="phoneNumber" :rules="[{required: true,message: 'This field is required'},{pattern: '^(\\+\\d{1,3}[- ]?)?\\d{10,11}$', message: 'The input is not valid phone number!'}]">
              <a-input placeholder="Address Details" v-model="workingItem.phoneNumber"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Email" prop="email" :rules="[{required: true,message: 'This field is required'},{type:'email',message:'The input is not valid E-mail!'}]">
              <a-input placeholder="Address Details" v-model="workingItem.email"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="24">
            <a-form-model-item label="Note" prop="email">
              <a-input :maxLength="500" :rows="5" type="textarea" placeholder="Note" v-model="workingItem.note"></a-input>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-card>
  </a-modal>
</template>

<script>
import {createOrder} from "../../../services/order"
import {getListCity, getListCommune, getListDistrict} from "../../../services/address"
import {getListProduct,getProductById} from "../../../services/admin/product"
import {debounce} from "lodash"
import CurrencyFormat from "../../../utils/CurrencyFormat"
export default {
  data() {
    this.lastFetchId = 0;
    return {
      loading: true,
      visible: false,
      cityDataSource: [],
      districtDataSource: [],
      communeDataSource: [],
      productDataSource: [],
      variantDataSource:[],
      sizeDataSource: [],
      productIndex: 0,
      workingItem: {
        productSelected: [],
      },
      queryParams: {
        name: undefined
      },
      pagination: {
        page: 1,
        pageSize: 10
      },
      productQueryParams:{
        name: undefined
      },
      columns:[
        {
          title: 'Product',
          scopedSlots: { customRender: 'product' },
          width: '200px'
        },
        {
          title: 'Variant',
          scopedSlots: { customRender: 'variant' },
          width: '150px'
        },
        {
          title: 'Size',
          scopedSlots: { customRender: 'size' },
          width: '100px'
        },
        {
          title: 'Quantity',
          scopedSlots: { customRender: 'quantity' },
          width: '100px'
        },
        {
          title: 'Price',
          scopedSlots: { customRender: 'price' },
          width: '150px'
        },
        {
          title: 'Action',
          scopedSlots: { customRender: 'action' },
          width: '100px'
        }
      ]
    }
  },
  methods: {
    CurrencyFormat,
    async show(id) {
      this.visible = true
      await Promise.all([
        this.loadListCity(),
        this.loadListDistrict(),
        this.loadListCommune(),
        this.loadProducts()
      ])
      this.loading = false
    },
    hide(){
      this.workingItem = {}
      this.$refs.form.resetFields()
      this.productIndex = 0
      this.workingItem.productSelected = []
      this.productQueryParams = {name: undefined}
      this.visible = false
    },
    async loadProducts(value){
      const params = {
        ...this.productQueryParams,
        ...this.pagination,
        name: value
      }
      const res = await getListProduct(params)
      this.pagination.page = res['current_page']
      this.pagination.pageSize = res.size
      this.productDataSource = res.data
    },
    async loadListCity (code) {
      const res = await getListCity(this.queryParams)
      this.cityDataSource = res?.data
    },
    async loadListDistrict (code) {
      const res = await getListDistrict({...this.queryParams})
      this.districtDataSource = res?.data
    },
    async loadListCommune (code) {
      const res = await getListCommune({...this.queryParams})
      this.communeDataSource = res?.data
    },
    async handleCitySearch (value) {
      this.queryParams.name = value
      await this.loadListCity()
      this.clearQueryParam()
    },
    async handleDistrictSearch (value) {
      this.queryParams.name = value
      await this.loadListDistrict()
      this.clearQueryParam()
    },
    async handleCommuneSearch (value) {
      this.queryParams.name = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    async handleCityChange (value) {
      this.queryParams.provinceCode = value
      await Promise.all([this.loadListCommune(),this.loadListDistrict()])
      this.clearQueryParam()
    },
    async handleDistrictChange (value) {
      this.queryParams.districtCode = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    clearQueryParam () {
      this.queryParams = {
        ...this.queryParams,
        name: undefined,
        code: undefined,
        pageSize: 999999999
      }
    },
    handleAddProduct(){
      console.log('add product')
      this.workingItem.productSelected.push({
        id: this.productIndex++,
        productId: undefined,
        variantId: undefined,
        size: undefined,
        quantity: undefined,
        total: 0,
        isDirty: false,
        isDuplicated: false,
        editable: true
      })
    },
    fetchProduct: debounce(function (value) {
      this.lastFetchId += 1;
      const fetchId = this.lastFetchId;
      this.data = [];
      const params = {
        page:1,
        pageSize:50,
        name: value
      }
      getListProduct(params).then(res => {
        if (fetchId !== this.lastFetchId) {
          return;
        }
        this.productDataSource = res.data;
        this.pagination.page = res['current_page']
        this.pagination.pageSize = res.size
      })
    },700),
    async handleProductChange(value,id){
      const res = await getProductById(value)
      const product = this.workingItem.productSelected.find(x => x.id === id)
      if(product){
        product.variantId = undefined
        product.size = undefined
        product.price = res.price
        product.salePrice = res.salePrice
        product.saleTo = res.saleTo
      }
      this.variantDataSource = [...res.variants]
    },
    handleVariantChange(value){
      this.sizeDataSource = [...this.variantDataSource.find(x => x.id === value).sizes]
    },
    async onsubmit(){
      this.$refs.form.validate(async valid => {
        if(!valid) return
        if(this.workingItem.productSelected.some(x => x.size === undefined)){
          this.$message.warn('Product not save')
          return
        }
        const params = {
          ...this.workingItem,
          address: [this.workingItem.city,this.workingItem.district,this.workingItem.commune].join("-"),
          carts: this.workingItem.productSelected.map(x => ({
            ...x,
            variantsId: x.variantId
          })),
          paymentMethod: 'cod'
        }
        await createOrder(params).then(res => {
          this.$notification.success({message:'Successful'})
          this.$emit('ok')
          this.hide()
        }).catch(err => {
          this.$notification.error({message: err?.response?.data?.message || 'Faile'})
        })
      })
    },
    productActions(id,action){
      const index = this.workingItem.productSelected.findIndex(x => x.id === id)
      if(index >= 0){
        const item = this.workingItem.productSelected[index]
        if(action === 'delete'){
          this.workingItem.productSelected.splice(index,1)
        }else{
          let editable = true
          let dirty = false
          let duplicated = false
          if(editable){
            this.$refs.form.validateField('productSelected')
            dirty = !(item.productId && item.variantId && item.size && item.quantity && item.quantity > 0)
            duplicated = this.workingItem.productSelected.some(x => (x.id !== item.id && x.productId === item.productId && x.variantId === item.variantId && x.size === item.size))
            if(!dirty && !duplicated) editable = false
          }
          this.workingItem.productSelected.splice(index,1,{...item,isDuplicated: duplicated, isDirty: dirty, editable: editable})
        }
      }
    },
    getTotalPrice(record){
      const index = this.workingItem.productSelected.findIndex(x => x.id === record.id)
      let price = 0
      if(record.price && (record.quantity && record.quantity > 0)){
        if(record.salePrice && record.saleTo && this.$moment() < this.$moment(record.saleTo)) {
          price = record.salePrice * record.quantity
        }
        price = record.price * record.quantity
      }
      if(index >= 0){
        this.workingItem.productSelected.splice(index,1,{...this.workingItem.productSelected[index],total: price})
      }
    }
  },
}
</script>

<style scoped>

</style>