<template>
  <a-row type="flex" justify="center">
    <a-col :span="12">  <h1>
      contact 1
    </h1></a-col>
  </a-row>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>