<template>
  <div class="card">
    <div :class="'card-heading '+ active ? 'active':''">
      <a data-toggle="collapse" :data-target="`#collapse${id}`">{{name}}</a>
    </div>
    <div :id="`#collapse${id}`" :class="'collapse '+active ? 'show' : '' " data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li v-for="(cat,index) in subCategories" :key="index"><a href="#">{{cat.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'category-shop',
  props:{
    id:{
      type:Number,
      require: true
    },
    name:String,
    active: {
      type:Boolean,
      default:false
    },
    subCategories:{
      type: Array,
      require:true,
      default:[{
        name:'',
        path:'#'
      }]
    }
  }
}
</script>
<style lang="scss" scoped>


.categories__accordion {

  .card {
    border: none;
    border-radius: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2!important;
    margin-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none!important;
    }
  }

  .card-heading {
    cursor: pointer;

    a {
      font-size: 14px;
      font-weight: 500;
      color: $heading-color;
      display: block;
    }
  }

  .card-body {
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 0;

    li {
      list-style: none;
      position: relative;
      padding-left: 16px;

      &:before {
        position: absolute;
        left: 4px;
        top: 14px;
        height: 1px;
        width: 4px;
        background: #666666;
        content: "";
      }

      a {
        font-size: 14px;
        color: #666666;
        line-height: 30px;
      }
    }
  }
}

.categories__accordion .card-heading a:after,
.categories__accordion .card-heading > a.active[aria-expanded=false]:after {
  content: "\f107";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: 0px;
}

.categories__accordion .card-heading.active a:after {
  content: "\f106";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
  font-weight: 900;
}

.categories__accordion .card-heading a[aria-expanded=true]:after,
.categories__accordion .card-heading > a.active:after {
  content: "\f106";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
  font-weight: 900;
}

</style>