<template>
  <a-card title="List Order">
    <TableHeader
        :columns="columns"
        placeholder="Search by Name"
        :query-params="queryParams"
        @search="handleSearch"
        @clearFilters="clearFilters"
    >
      <template #headerRightSideBar>
        <a-button @click="handleAddOrder" type="primary">Add Order</a-button>
      </template>
      <template #filterInputs>
        <filter-checkbox
            v-model="queryParams.statuses"
            :options="lstOrderStatus"
            @change="handleOk"
            title="Order Status"
        />
        <a-range-picker v-model="queryParams.date" @change="handleOk"/>
      </template>
    </TableHeader>
    <a-table :scroll="{ x: 1500 }" class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination" @change="handleTableChange">
      <template slot="name" slot-scope="text, record">
        {{[record.firstName,record.lastName].join(' ')}}
      </template>
      <template slot="totalPrice" slot-scope="text, record">
        {{record.totalPrice ? CurrencyFormat(record.totalPrice) : ''}}
      </template>
      <template slot="salePrice" slot-scope="text, record">
        {{record.salePrice ? CurrencyFormat(record.salePrice) : ''}}
      </template>
      <template slot="status" slot-scope="text, record">
        <a-badge :color="getColorStatus(record.status)" :text="record.status"></a-badge>
      </template>
      <template slot="actions" slot-scope="text, record">
        <a-tooltip placement="top">
          <template slot="title">
            <span>Confirm Order</span>
          </template>
          <a-button :disabled="record.status !== 'PENDING'" @click="onConfirmOrder(record.id)" style="background:#35d230;" shape="circle" icon="check" />
        </a-tooltip>
        <a-tooltip placement="top">
          <template slot="title">
            <span>Update Info</span>
          </template>
          <a-button type="primary" :disabled="record.status !== 'PENDING'" @click="onUpdateOrder(record.id)" shape="circle" icon="edit" />
        </a-tooltip>
        <a-tooltip placement="top">
          <template slot="title">
            <span>Cancel Order</span>
          </template>
          <a-popconfirm
              title="Are you sure cancel this order?"
              ok-text="Yes"
              cancel-text="No"
              @confirm="confirmDelete(record.id)"
          >
            <a-button type="danger" shape="circle" icon="close" />
          </a-popconfirm>
        </a-tooltip>
      </template>
    </a-table>
    <ModalEditOrderInfo @ok="handleOk" ref="modalEditOrder"/>
    <ModalAddOrder @ok="handleOk" ref="modalAddOrder"/>
  </a-card>
</template>

<script>
import {getListOrder,updateOrder,cancelOrder,confirmOrder} from "../../../services/order"
import CurrencyFormat from "../../../utils/CurrencyFormat"
import TableHeader from "../../../components/TableHeader"
import {OrderStatus} from "../../../constants/Order"
import FilterCheckbox from "../../../components/FilterCheckbox"
import ModalEditOrderInfo from "../../../components/admin/Order/ModalEditOrderInfo"
import ModalAddOrder from "../../../components/admin/Order/ModalAddOrder"
export default {
  layout: 'admin',
  components:{TableHeader,FilterCheckbox,ModalEditOrderInfo,ModalAddOrder},
  data() {
    return {
      loading: false,
      columns: [
        {
          title: 'Order ID',
          dataIndex: 'id',
          fixed: 'left',
        },
        {
          title: 'Customer Name',
          dataIndex: 'firstName',
          scopedSlots: { customRender: 'name' },
          sorter: (a,b) => [a.firstName,a.lastName].join(' ').localeCompare([b.firstName,b.lastName].join(' '))
        },
        {
          title: 'Email',
          dataIndex: 'email'
        },
        {
          title: 'Phone',
          dataIndex: 'phoneNumber'
        },
        {
          title: 'Total Price',
          dataIndex: 'totalPrice',
          scopedSlots: { customRender: 'totalPrice' },
          sorter: (a,b) => a.totalPrice - b.totalPrice
        },
        {
          title: 'Sale Price',
          dataIndex: 'salePrice',
          scopedSlots: { customRender: 'salePrice' },
          sorter: (a,b) => a.salePrice - b.salePrice
        },
        {
          title: 'Address',
          dataIndex: 'addressName'
        },
        {
          title: 'Status',
          scopedSlots: { customRender: 'status' },
        },
        {
          title:'Actions',
          scopedSlots: { customRender: 'actions' },
          fixed: 'right',
        }
      ],
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
        showQuickJumper: true,
      },
      queryParams: {
        statuses: [],
        keywords: undefined
      },
      lstOrderStatus: [
        {
          label: 'Pending',
          value: 'PENDING'
        },
        {
          label: 'Ready To Pick',
          value: 'READY_TO_PICK'
        },
        {
          label: 'Picking',
          value: 'PICKING'
        },
        {
          label: 'Canceled',
          value: 'CANCELED'
        },
        {
          label: 'Picked',
          value: 'PICKED'
        },
        {
          label: 'Storing',
          value: 'STORING'
        },
        {
          label: 'Delivering',
          value: 'DELIVERING'
        },
        {
          label: 'Delivered',
          value: 'DELIVERED'
        }
      ]
    }
  },
  methods:{
    CurrencyFormat,
    loadListOrder(payload){
      this.loading = true;
      const params = {
        ...payload,
        fromDate: this.queryParams.date?.at(0)?.format('YYYY/MM/DD'),
        toDate: this.queryParams.date?.at(1)?.format('YYYY/MM/DD')
      }
      delete params.date
      getListOrder(params).then((resp) => {
        this.loading = false
        this.data = resp.data
        this.pagination.current = resp['current_page']
        this.pagination.total = resp['total_item']
        this.pagination.pageSize = resp['size']
      })
    },
    handleTableChange(pagination, filters, sorter) {
      console.log(sorter)
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.loadListOrder({
        results: pagination.pageSize,
        page: pagination.current,
        orderBy: sorter.field,
        orderDirection: sorter.order === 'ascend' ? 'asc' : 'desc',
        ...filters,
      });
    },
    onDetailClicked(id){

    },
    handleAddOrder(){
      this.$refs.modalAddOrder.show()
    },
    onUpdateOrder (id) {
      this.$refs.modalEditOrder.show(id)
    },
    confirmDelete(id){
      cancelOrder(id).then(()=>{
        this.$notification.success({
          message: 'Order Canceled'
        })
        this.handleOk()
      }).catch((err)=>{
        this.$notification.error({
          message: err.response.data.message || 'Failed'
        })
      })
    },
    onConfirmOrder (id) {
      confirmOrder(id).then(()=>{
        this.$notification.success({
          message: 'Order Confirmed'
        })
        this.handleOk()
      }).catch((err)=>{
        this.$notification.error({
          message: err.response.data.message || 'Failed'
        })
      })
    },
    handleSearch (keyword) {
      this.queryParams.keywords = keyword
      this.loadListOrder({
        keywords: keyword
      })
    },
    clearFilters () {
      this.queryParams.statuses = []
      this.queryParams.keywords = undefined
      this.queryParams.date = []
      this.loadListOrder()
    },
    handleOk () {
      this.loadListOrder({...this.queryParams,statuses: this.queryParams.statuses.join(',')})
    },
    getColorStatus (status){
      return OrderStatus[status]
    }
  },
  created() {
    if(this.$route.params?.status){
      this.loadListOrder({statuses: this.$route.params?.status})
    }else{
      this.loadListOrder()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .a-table .ant-btn{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i{
    color: white;
  }
  &:disabled{
    background: #254025 !important;
  }
}
</style>