<template>
  <div>
    <!-- Instagram Begin -->
    <div class="instagram">
      <div class="container-fluid">
        <instagram-img/>
      </div>
    </div>
    <!-- Instagram End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                <nuxt-link to="/">EmpowerOutfit</nuxt-link>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                cilisis.</p>
              <!--            <div class="footer__payment">-->
              <!--              <a href="#"><img src="img/payment/payment-1.png" alt=""></a>-->
              <!--              <a href="#"><img src="img/payment/payment-2.png" alt=""></a>-->
              <!--              <a href="#"><img src="img/payment/payment-3.png" alt=""></a>-->
              <!--              <a href="#"><img src="img/payment/payment-4.png" alt=""></a>-->
              <!--              <a href="#"><img src="img/payment/payment-5.png" alt=""></a>-->
              <!--            </div>-->
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="footer__widget">
              <h6>Account</h6>
              <ul>
                <li><a href="#">My Account</a></li>
                <li><nuxt-link to="/order/details">Order Tracking</nuxt-link></li>
                <li><a href="#">Wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
              <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

  </div>
</template>

<script>
  import InstagramImg from "@/components/home-page/InstagramImg";
  export default {
    name:'appFooter',
    components:{
      InstagramImg,
    },

  }
</script>

<style lang="scss" scoped>
.footer {
  padding-top: 55px;
}

.footer__about {
  margin-bottom: 30px;

  p {
    margin-bottom: 20px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__payment {

  a {
    margin-right: 6px;
    margin-bottom: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__widget {
  margin-bottom: 30px;

  h6 {
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  ul {

    li {
      list-style: none;

      a {
        font-size: 14px;
        color: #666666;
        line-height: 30px;
      }
    }
  }
}

.footer__newslatter {
  margin-bottom: 30px;

  h6 {
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  form {
    position: relative;
    margin-bottom: 30px;

    input {
      height: 52px;
      width: 100%;
      border: 1px solid #e1e1e1;
      border-radius: 50px;
      padding-left: 30px;
      font-size: 14px;
      color: #666666;

      &::placeholder {
        color: #666666;
      }
    }

    button {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }
}

.footer__social {

  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #e1e1e1;
    font-size: 15px;
    color: $heading-color;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__copyright__text {
  border-top: 1px solid #e1e1e1;
  padding: 18px 0 25px;
  text-align: center;
  margin-top: 35px;

  p {
    margin-bottom: 0;
  }

  a {
    color: $para-color;
  }

  i {
    color: $primary-color;
  }

  a:hover {
    color: $primary-color;
  }
}
</style>