<template>
  <div class="header__container">
    <!-- Page Preloder -->
    <!--    <div id="preloder">-->
    <!--      <div class="loader"></div>-->
    <!--    </div>-->


    <!-- Header Section Begin -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-2">
            <div class="header__logo">
              <nuxt-link to="/">EmpowerOutfit</nuxt-link>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <nav class="header__menu">
              <ul>
                <li class="active">
                  <nuxt-link to="/">Home</nuxt-link>
                </li>
                <li><nuxt-link :to="{path:'/shop',query:{categories:[1315]}}">Women’s</nuxt-link></li>
                <li><nuxt-link :to="{path:'/shop',query:{categories:[1281]}}">Men’s</nuxt-link></li>
                <li>
                  <nuxt-link to="/shop">Shop</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/contact">Contact</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/newTab">Contact1</nuxt-link>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="header__right">
              <div v-if="!isLoggedIn" @click="$refs.loginModal.ToggleLoginModal()" class="header__right__auth">
                <span>Login/Register</span>
              </div>
              <div v-else class="header__right__auth">
                <a-dropdown>
                  <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    <span>{{ getAccountName }}</span>
                  </a>
                  <a-menu slot="overlay">
                    <a-menu-item @click="handleOpenManagementScreen" v-if="getListRole.includes('admin') || getListRole.includes('employee')">
                      Web Management
                    </a-menu-item>
                    <a-menu-item>
                      <nuxt-link to="/order">My Orders</nuxt-link>
                    </a-menu-item>
                    <a-menu-item>
                      <a @click.prevent="logout" href="#">Log out</a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
              </div>
              <ul class="header__right__widget">
                <li><i @click="showDrawer" class="fas fa-search"></i></li>
                <li>
                  <a @click.prevent="showFavorite" href="#">
                    <i class="fal fa-heart"></i>
                    <div v-if="getListFavoriteSize > 0" class="tip">{{ getListFavoriteSize }}</div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <nuxt-link to="/cart"><i class="fas fa-shopping-cart"></i></nuxt-link>
                    <div v-if="getCartSize > 0" class="tip">{{ getCartSize }}</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="canvas__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->
    <!--    login modal-->
    <a-drawer
        title="Search Product"
        placement="right"
        :closable="false"
        :visible="visible"
        @close="onClose"
    >
      <a-input-search placeholder="input search text" enter-button @search="onSearch" />
      <a-divider type="horizontal" />
      <div>
        <b>Recently keyword</b>
        <p @click="onClickKeyword(item)" class="recently-keyword" v-for="(item,index) in getListKeyword" :key="index">{{item}}</p>
      </div>
    </a-drawer>
    <login ref="loginModal"/>
    <!--    end login modal-->
  </div>
</template>

<script>
import Login from "@/components/login"
import {mapGetters} from "vuex"
import Cookie from 'js-cookie'

export default {
  name: 'appHeader',
  components: {
    Login
  },
  data() {
    return {
      visible: false
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isAuthenticated',
      getCart: 'cart/getCart',
      getAccountName: 'auth/getName',
      getCartSize: 'cart/getCartSize',
      getListFavoriteSize: 'cart/getListFavoriteSize',
      getListKeyword: 'search/getListKeywords',
      getListRole: 'auth/getPermission'
    }),
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$store.dispatch('cart/clearCart')
      this.$router.push('/')
    },
    showDrawer() {
      this.visible = true;
    },
    onClose() {
      this.visible = false;
    },
    onSearch(value) {
      this.$store.dispatch('search/addKeyword',value)
      this.$router.push({path:'/shop',query:{name: value}})
    },
    onClickKeyword (keyword) {
      this.$router.push({path:'/shop',query:{name: keyword}})
    },
    handleOpenManagementScreen () {
      if(this.getListRole.includes('admin')){
        this.$router.push({path: '/admin'})
      }else{
        this.$router.push({path: '/admin/order'})
      }
    },
    showFavorite () {
      this.$router.push({path: '/favorite'})
    }
  }
}
</script>

<style lang="scss" scoped>
.recently-keyword {
  cursor: pointer;
}
.header {
  background: $white-color;
  box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
}

.header__logo {
  padding: 26px 0;

  a {
    display: inline-block;
  }
}

.header__menu {
  padding: 30px 0 27px;

  ul {

    li {
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      position: relative;

      &.active {

        a {

          &:after {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }

      &:hover {

        a {

          &:after {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        .dropdown {
          top: 27px;
          opacity: 1;
          visibility: visible;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .dropdown {
        position: absolute;
        left: 0;
        top: 56px;
        width: 150px;
        background: $heading-color;
        text-align: left;
        padding: 2px 0;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        @include transition(all, .3s);

        li {
          display: block;
          margin-right: 0;

          a {
            font-size: 14px;
            color: $white-color;
            font-weight: 400;
            padding: 8px 20px;
            text-transform: capitalize;

            &:after {
              display: none;
            }
          }
        }
      }

      a {
        font-size: 15px;
        text-transform: uppercase;
        color: $heading-color;
        font-weight: 500;
        display: block;
        padding: 2px 0;
        position: relative;

        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $primary-color;
          content: '';
          @include transition(all, .5s);
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
    }
  }
}

.header__right {
  text-align: right;
  padding: 30px 0 27px;

  span {
    font-size: 14px;
    cursor: pointer;
  }
}

.header__right__auth {
  display: inline-block;
  margin-right: 25px;

  a {
    font-size: 12px;
    color: #666666;
    position: relative;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      right: -8px;
      top: -2px;
      content: "/";
      font-size: 13px;
    }
  }
}

.header__right__widget {
  display: inline-block;

  li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: $heading-color;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 18px;
      color: $heading-color;
      position: relative;

      .tip {
        position: absolute;
        right: -12px;
        top: -11px;
        height: 18px;
        width: 18px;
        background: $heading-color;
        font-size: 10px;
        font-weight: 500;
        color: $white-color;
        line-height: 18px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}
</style>