<template>
  <li @click="toggleDropDown()" @mouseover="mouseOver = true" @mouseout="mouseOver = false" :class="['nav-item',active ? 'active':'',mouseOver ? 'hover-open':''] ">
    <a class="nav-link" data-toggle="collapse" href="javascript:;" :aria-expanded="active ? 'active' : 'deactive'" aria-controls="ui-basic">
      <i :class="icon"></i>
      <span class="menu-title">{{name}}</span>
      <i class="fas fa-chevron-down menu-arrow"></i>
    </a>
    <div :class="['collapse',active ? 'show':''] " :id="`#sidebar-${id}`">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item" v-for="(item,index) in subItems" :key="index">
          <nuxt-link class="nav-link" :to="{path: item.path, params: item.params}">{{item.name}}</nuxt-link>
        </li>
      </ul>
    </div>
  </li>
</template>
<script>
export default {
  name: 'sidebar-item',
  props:{
    name:String,
    active:Boolean,
    id:Number,
    icon:String,
    subItems:{
      type:Array,
      default:[]
    }
  },
  data() {
    return {
      mouseOver: false
    }
  },
  methods:{
    toggleDropDown(){
      let id = this.id;
      let active = !this.active;
      this.$emit("ClearActiveSideBar",{id,active});
    }
  }
}
</script>
<style lang="scss" scoped>
.sidebar {
  min-height: calc(100vh - #{$navbar-height});
  background: $sidebar-light-bg;
  font-family: $type1;
  font-weight: 500;
  padding: 0;
  width: $sidebar-width-lg;
  z-index: 11;
  transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
  -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;

    .nav-item {
      @include transition-duration(0.25s);
      transition-property: background;
      -webkit-transition-property: background;
      .collapse {
        z-index: 999;
      }

      .nav-link {
        @include flexbox;
        @include align-items(center);
        white-space: nowrap;
        padding: $sidebar-menu-padding-top $sidebar-menu-padding-right $sidebar-menu-padding-bottom $sidebar-menu-padding-left;
        color: $sidebar-light-menu-color;
        border-radius: 8px;
        @include transition-duration(0.45s);
        transition-property: color;
        -webkit-transition-property: color;

        i {
          color: inherit;

          &.fas {
            font-size: $sidebar-icon-font-size;
            line-height: 1;
            margin-right: 1rem;
            .rtl & {
              margin-left: 2rem;
              margin-right: 0;
            }
            color: $sidebar-light-menu-icon-color;
            &:before {
              vertical-align: middle;
            }
          }
          &.menu-arrow {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: auto;
            margin-right: 0;
            color: $sidebar-light-menu-arrow-color;
            .rtl & {
              margin-left: 0;
              margin-right: auto;
            }

          }
        }

        .menu-title {
          color: inherit;
          display: inline-block;
          font-size: $sidebar-menu-font-size;
          line-height: 1;
          vertical-align: middle;
        }

        .badge {
          margin-left: auto;
          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
        &[aria-expanded="true"] {
          i {
            &.menu-arrow {
              &:before {
                @include rotate(90);
              }
            }
          }
        }
      }

      &.active {
        border-radius: 8px;
        > .nav-link {
          background: $sidebar-light-menu-active-bg;
          position: relative;
          i,
          .menu-title,
          .menu-arrow {
            color: $sidebar-light-menu-active-color;
          }
          i {
            &.menu-arrow {
              &::before {
                content: "\e64b";
              }
            }
          }
        }
      }
      &:hover {
        > .nav-link {
          i,
          .menu-title,
          .menu-arrow {
            color: $sidebar-light-menu-active-color;
          }
        }

      }
    }

    &:not(.sub-menu) {
      margin-top: 1.45rem;
      margin-left: 1rem;
      margin-right: 1rem;
      > .nav-item {
        margin-top: .2rem;
        &:hover {
          > .nav-link, &[aria-expanded="true"] {
            background: $sidebar-light-menu-hover-bg;
            color: $sidebar-light-menu-hover-color;
          }
        }
        > .nav-link {
          margin: 0;
          &[aria-expanded="true"] {
            border-radius: 8px 8px 0 0;
            background: $sidebar-light-menu-hover-bg;
            color: $sidebar-light-menu-active-color;
          }
        }
        &.active {
          background: $sidebar-light-menu-hover-bg;
        }
      }
    }
    &.sub-menu {
      margin-bottom: 0;
      margin-top:0;
      list-style: none;
      padding: $sidebar-submenu-padding;
      background: $sidebar-light-menu-hover-bg;
      padding-bottom: 12px;

      .nav-item {
        padding: 0;
        &::before {
          content: '';
          width: 5px;
          height: 5px;
          position: absolute;
          margin-top: 16px;
          border-radius: 50%;
          background: #b2b2b2;
        }
        .nav-link {
          color: $sidebar-light-submenu-color;
          padding: $sidebar-submenu-item-padding;
          position: relative;
          font-size: $sidebar-submenu-font-size;
          line-height: 1;
          height: auto;
          border-top: 0;
          &:hover {
            color: $sidebar-light-submenu-hover-color;
          }
          &.active {
            color: $sidebar-light-submenu-active-color;
            background: transparent;
          }
        }
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
</style>