<template>
  <div class="page">
    <app-header/>
    <transition name="none">
    <Nuxt/>
    </transition>
<!--    <app-footer/>-->
  </div>
</template>

<script>
import AppHeader from './components/Header'
import AppFooter from './components/Footer'

export default {
  name: 'default',
  loading: false,
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
