<template>
  <div class="error-container">
    <template v-if="error.statusCode === 404">
      <img class="img-not-found" :src="`${require('~/assets/img/error/not_found.jpg')}`" alt="">
    </template>
    <template v-if="error.statusCode === 401">
      <a-result status="403" title="401" sub-title="Sorry, you are not authorized to access this page.">
      </a-result>
    </template>
  </div>
</template>

<script>
export default {
  layout: 'default',
  props: {
    error: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.error-container{
  display: flex;
  justify-content: center;
  padding: 10px;
  .img-not-found{
    width: calc(100vh - 100px);
  }
}

</style>