<template>
  <a-modal
    :title="id ? 'Update Account' : 'Create Account'"
    :visible="visible"
    @ok="onSubmitClicked"
    @cancel="hide"
    okText="Save"
  >
    <a-form-model ref="form" layout="vertical" :model="signUpForm" :rules="rules">
      <a-row :gutter="8">
        <a-col :span="12">
          <a-form-model-item label="First name" prop="firstName">
            <a-input placeholder="First name" v-model="signUpForm.firstName"></a-input>
          </a-form-model-item>
        </a-col>
        <a-col :span="12">
          <a-form-model-item label="Last name" prop="lastName">
            <a-input placeholder="Last name" v-model="signUpForm.lastName"></a-input>
          </a-form-model-item>
        </a-col>
      </a-row>
      <a-form-model-item label="Birthdate" prop="birthDay">
        <a-date-picker
            v-model="signUpForm.birthDay"
            format="DD/MM/YYYY"
            type="date"
            placeholder="Pick a date"
            style="width: 100%;"
        />
      </a-form-model-item>
      <a-form-model-item label="Email" prop="email">
        <a-input placeholder="Email" v-model="signUpForm.email"></a-input>
      </a-form-model-item>
      <a-form-model-item label="Address" prop="address">
        <a-input placeholder="Address" v-model="signUpForm.address"></a-input>
      </a-form-model-item>
      <a-form-model-item label="Phone number" prop="phone">
        <a-input placeholder="Phone number" v-model="signUpForm.phone"></a-input>
      </a-form-model-item>
      <a-form-model-item label="Role" prop="roleIds">
        <a-select v-model="signUpForm.roleIds" placeholder="Select Role" mode="multiple">
          <a-select-option v-for="item in roles" :key="item.id" :value="item.id">
            {{item.name}}
          </a-select-option>
        </a-select>
      </a-form-model-item>
      <a-form-model-item v-if="!id" label="Password" prop="password">
        <a-input type="password" placeholder="Password" v-model="signUpForm.password"></a-input>
      </a-form-model-item>
      <a-form-model-item v-if="!id" label="Confirm password" prop="rePassword">
        <a-input has-feedback type="password" placeholder="Password" v-model="signUpForm.rePassword"></a-input>
      </a-form-model-item>
      <a-form-model-item v-if="id" label="Status" prop="locked">
        <a-select v-model="signUpForm.locked">
          <a-select-option :value="1">Active</a-select-option>
          <a-select-option :value="0">Locked</a-select-option>
        </a-select>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script>
import {registerAccount,getAccountById,updateAccount} from "../../../services/account";
import {getListRole} from "../../../services/admin/Role"
export default {
  data() {
    let checkPending;
    let checkRePassword = (rule, value, callback) => {
      clearTimeout(checkPending)
      if(!value){
        callback(new Error('This field is required'))
      }
      checkPending = setTimeout(()=>{
        if(value !== this.signUpForm.password){
          callback(new Error('The passwords do not match'))
        }else{
          callback()
        }
      },1000)
    }
    return {
      id: undefined,
      visible: false,
      isOpen:false,
      remember:false,
      isSignUp: false,
      signInForm:{
        email:'',
        password:''
      },
      roles: [],
      signUpForm:{
        firstName:'',
        lastName:'',
        birthDay:undefined,
        email:'',
        address:'',
        phone:'',
        password:'',
        rePassword:''
      },
      rules : {
        firstName: [{required: true, message: 'This field is required', trigger: 'blur'}],
        lastName: [{required: true, message: 'This field is required', trigger: 'blur'}],
        birthDay: [{required: true, message: 'This field is required', trigger: 'change'}],
        email: [
          {required: true, message: 'This field is required', trigger: 'blur'},
          {type: 'email', message: 'Invalid email', trigger: 'blur'},
        ],
        address: [{required: true, message: 'This field is required', trigger: 'blur'}],
        phone: [
          {required: true, message: 'This field is required', trigger: 'blur'},
          {min: 10, max: 11, message: 'Phone number not valid', trigger: 'blur'},
        ],
        password: [
          {required: true, message: 'This field is required', trigger: 'blur'},
          {min: 6, message: 'Password length must be greater than 6', trigger: 'blur'},
        ],
        rePassword: [
          {required: true, message: 'This field is required', trigger: 'blur'},
          {validator: checkRePassword, trigger: 'change'}
        ],
        roleIds: [{required: true, message: 'This field is required', trigger: 'blur'}]
      }
    }
  },
  methods: {
    hide() {
      this.$refs.form.resetFields()
      this.id = undefined
      this.visible = false
    },
    async show(id){
      this.visible = true
      this.roles = await getListRole()
      if(id){
        this.id = id
        const res = await getAccountById(id)
        this.$refs.form.clearValidate()
        this.signUpForm = res
        this.signUpForm.birthDay = this.$moment(res.birthday)
        this.signUpForm.locked = res.locked ? 0 : 1
      }
    },
    ToggleLoginModal(){
      this.isOpen = !this.isOpen;
    },
    showSignUpForm(value){
      this.isSignUp = value
    },
    onSignupClicked(){
      this.showSignUpForm(true)
    },
    onSignInClicked(){
      this.showSignUpForm(false)
    },
    async onSubmitClicked(){
      this.$refs.form.validate(async valid => {
        if(!valid) return
          const payload = {...this.signUpForm,birthday:this.signUpForm.birthDay?.format('YYYY/MM/DD'),locked: this.signUpForm.locked === 1 ? false: true}
          if(this.id){
            await updateAccount(this.id,payload).then(()=>{
              this.$notification.success({
                message: 'Account Updated'
              })
              this.$emit('ok')
              this.hide()
            }).catch(()=>{
              this.$notification.error({
                message: 'Failed'
              })
            })
          }else{
            await registerAccount(payload).then(()=>{
              this.$notification.success({
                message: 'Account Created'
              })
              this.$emit('ok')
              this.hide()
            }).catch(()=>{
              this.$notification.error({
                message: 'Failed'
              })
            })
          }
      })
    }
  }
}
</script>

<style scoped>

</style>