<template>
  <div class="col-lg-6 col-md-6 col-sm-6 p-0">
    <div class="categories__item set-bg" :style="{backgroundImage:`url(${require('~/assets/img/'+img)})`}">
      <div class="categories__text">
        <h4>{{name}}</h4>
        <nuxt-link :to="path">Shop now</nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'categories-item',
  props:{
    name:'',
    path:'',
    img:'',
  },
}
</script>

<style lang="scss" scoped>
.categories {
  overflow: hidden;
  margin-top: 10px;

  .container-fluid {
    padding-right: 5px;
  }
}

.categories__item {
  height: 314px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-right: 10px;

  &.categories__large__item {
    height: 638px;
    padding-left: 70px;

    .categories__text {
      max-width: 480px;
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.categories__text {

  h1 {
    font-family: 'Cookie', cursive;
    color: $white;
    margin-bottom: 5px;
  }

  h4 {
    color: $white;
    font-weight: 700;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: $primary-color;
      content: "";
    }
  }
}
</style>
