<template>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="trend__content">
      <div class="section-title">
        <h4>{{name}}</h4>
      </div>
      <group-product-item v-for="(item,index) in dataSource" :key="index" :data="item"/>
    </div>
  </div>
</template>

<script>
import GroupProductItem from "@/components/home-page/GroupProductItem";

export default {
  name: 'group-product',
  components: {GroupProductItem},
  props: {
    name: {
      type: String,
      default: ''
    },
    dataSource:{
      type:Array,
      default: []
    }
  },
}
</script>

<style lang="scss" scoped>
.trend__content {

  .section-title {

    h4 {
      font-size: 20px;

      &:after {
        bottom: -6px;
      }
    }
  }
}
</style>