<template>
  <nuxt-link :to="getPath">
    <div class="trend__item">
      <div class="trend__item__pic">
        <img class="group-item-thumbnail" :src="`${this.$config.prefixImagesApi}/${data.imgs[0]}`" alt="">
      </div>
      <div class="trend__item__text">
        <h6>{{data.name}}</h6>
        <div class="product__price">{{data.price?.toLocaleString('it-IT',{style:'currency',currency:'VND'})}}</div>
      </div>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  name: 'group-product-item',
  props: {
    data:{
      type:Object,
      default: ()=>{
        return {
          id:undefined,
          name:'',
          price:undefined,
          salePrice:undefined,
          description:'',
          imgs:[],
          saleTo:'',
          qty:undefined
        }
      }
    },
    isNewProduct:{
      default:false,
      type:Boolean
    },
    onSale:{
      default: false,
      type:Boolean
    },
    path:String
  },
  computed: {
    getPath() {
      return `/products/${this.data.id}`
    }
  },
}
</script>

<style lang="scss" scoped>
.group-item-thumbnail{
  width: 100px;
}
.trend__item {
  overflow: hidden;
  margin-bottom: 35px;
}

.trend__item__pic {
  float: left;
  margin-right: 25px;
}

.trend__item:hover{
  .trend__item__text > h6{
    color: $primary-color;
  }
}

.trend__item__text {
  overflow: hidden;

  h6 {
    font-size: 14px;
    color: $heading-color;
    margin-bottom: 5px;
  }

  .rating {
    line-height: 18px;
    margin-bottom: 6px;

    i {
      font-size: 10px;
      color: #e3c01c;
      margin-right: 2px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .product__price {
    color: $heading-color;
    font-weight: 600;

    span {
      font-size: 14px;
      color: #b1b0b0;
      text-decoration: line-through;
      margin-left: 4px;
    }
  }
}
</style>