<template>
  <div>
    <section class="banner set-bg" :style="{backgroundImage:`url(${require('~/assets/img/'+bannerBg)})`}">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-8 m-auto">
            <div v-swiper:mySwiper="swiperOption">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="i in 3">
                  <div class="banner__item">
                    <div class="banner__text">
                      <span>The Ultraboost Collection</span>
                      <h1>Running shoes</h1>
                      <a href="#">Shop now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import 'swiper/dist/css/swiper.css'
export default {
  name: 'home-banner',
  data () {
    return {
      banners: [ 'product/product-1.jpg', 'product/product-2.jpg', 'product/product-3.jpg' ],
      bannerBg:'banner/banner-1.jpg',
      swiperOption: {
        slidesPerView:1,
        loop:true,
        spaceBetween:0,
        pagination: {
          el: '.swiper-pagination'
        },
        autoplay:{
          delay: 3000,
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.banner {
  height: 500px;
}
.swiper-container{
  padding-top: 150px;
}
.banner__item{
  text-align: center;
  .banner__text {
    span {
      font-size: 18px;
      color: $primary-color;
      text-transform: uppercase;
    }

    h1 {
      font-size: 60px;
      color: $heading-color;
      font-family: 'Cookie', cursive;
      margin-bottom: 15px;
    }

    a {
      font-size: 14px;
      color: $heading-color;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      padding: 0 0 3px;
      display: inline-block;

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: $primary-color;
        content: "";
      }
    }
  }
}


</style>