<template>
  <div class="row">
    <div v-for="(img,index) in images" :key="index" class="col-lg-2 col-md-4 col-sm-4 p-0">
      <div class="instagram__item set-bg" :style="{backgroundImage:`url(${require('~/assets/img/'+img)})`}">
        <div class="instagram__text">
          <i class="fab fa-instagram"></i>
          <a href="#">@empower_outfit</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'instagram-img',
  data() {
    return {
      images: [
          'instagram/insta-1.jpg',
          'instagram/insta-2.jpg',
          'instagram/insta-3.jpg',
          'instagram/insta-4.jpg',
          'instagram/insta-5.jpg',
          'instagram/insta-1.jpg',
      ]
    }
  },
}
</script>
<style lang="scss" scoped>

.instagram__item {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  &:hover {

    &:after {
      opacity: 1;
    }

    .instagram__text {
      opacity: 1;
      visibility: visible;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0;
    z-index: -1;
    @include transition(all, .3s);
  }
}

.instagram__text {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  @include transition(all, .3s);

  i {
    font-size: 30px;
    color: #0d0d0d;
  }

  a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;
  }
}
</style>