<template>
  <div class="row">
    <group-product v-for="(group,index) in groups" :key="index"  :name="group.name" :data-source="group.data"/>
  </div>
</template>

<script>
import GroupProduct from "@/components/home-page/GroupProduct";
import {getListProduct} from "../../services/home";

export default {
  name:'list-group-product',
  components:{
    GroupProduct
  },
  data() {
    return {
      groups: [
        {
          name:'TREND',
          data:[]
        },
        {
          name:'TREND',
          data:[]
        },
        {
          name:'TREND',
          data:[]
        },
      ]
    }
  },
  methods:{
    async getListProduct(){
      await getListProduct({
        page:2,
        pageSize:12
      })
      .then((res) => {
        if(res && Array.isArray(res.data)){
          const size = Math.floor(res.data.length / this.groups.length);
          const chunks = Array.from({ length: this.groups.length }, (_, i) => res.data.slice(i * size, (i + 1) * size));
          this.groups = this.groups.map((g,index) => ({...g,data:chunks[index]}))
        }
      })
    }
  },
  created() {
    this.getListProduct();
  }
}
</script>

<style scoped>

</style>