<template>
  <div class="row property__gallery">
    <product-item v-for="(product,index) in products" :key="index" v-bind="product"/>
  </div>
</template>
<script>
import ProductItem from "@/components/home-page/ProductItem"
import {getListProduct} from '@/services/home'

export default {
  name: 'new-product',
  components: {ProductItem},
  data() {
    return {
      products: []
    }
  },
  methods:{
    async getListNewProduct(){
      await getListProduct({
        pageSize:8
      })
      .then((res) => {
        this.products = res.data;
      })
    }
  },
  created() {
    this.getListNewProduct();
  }
}
</script>
