<template>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product__item">
      <div class="product__item__pic set-bg" :style="{backgroundImage:`url(${this.$config.prefixImagesApi}/${imgs[0]})`,backgroundSize:'cover'}">
<!--        <div v-if="productStatus !== ''" :class="'label ' + productStatus">{{state[productStatus]}}</div>-->
        <ul class="product__hover">
          <li>
            <a @click.prevent="onFavoriteAdd" href="#">
              <i :style="{color:inFavoriteList?'red':'black'}" class="fal fa-heart"></i>
            </a>
          </li>
          <li>
            <nuxt-link :to="getPath">
              <i class="fas fa-shopping-cart"></i>
            </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="product__item__text">
        <h6><nuxt-link :to="getPath">{{ name }}</nuxt-link></h6>
        <div v-if="onSale === true && isNaN(salePrice) === false && salePrice >= 0 "
             class="product__price" style="color:#ca1515">{{salePrice?.toLocaleString('it-IT',{style:'currency',currency:'VND'})}}<span>$ {{price?.toLocaleString('it-IT',{style:'currency',currency:'VND'})}}</span></div>
        <div v-else class="product__price">{{price?.toLocaleString('it-IT',{style:'currency',currency:'VND'})}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'product-item',
  props:{
    id:Number,
    name:String,
    price:{
      type:Number,
      default:undefined
    },
    salePrice:{
      type:Number,
      default:undefined
    },
    description:String,
    imgs:Array,
    saleTo:String,
    qty:{
      type:Number,
      default:0
    },
    isNewProduct:{
      default:false,
      type:Boolean
    },
    onSale:{
      default: false,
      type:Boolean
    },
    path:String
  },
  data(){
    return{
      state:{
        'new':'NEW',
        'stockout':'OUT OF STOCK',
        'sale':'SALE'
      },
    }
  },
  computed:{
    ...mapGetters({
      isLoggedIn:'account/isLoggedIn',
      getFavorite:'cart/getFavorite',
    }),
    ...mapActions({

    }),
    inFavoriteList(){
      return this.getFavorite.indexOf(this.id) >=0
    },
    getPath: function (){
      return `/products/${this.id}`
    },
    productStatus: function (){
      let status = ''
      if(typeof this.qty !== "number") return ''
      if(this.qty<=0) status = 'stockout'
      else{
        if(this.isNewProduct) status='new'
        if(this.onSale) status = 'sale'
      }
      return status
    }
  },
  methods:{
    onFavoriteAdd(){
      if(this.inFavoriteList){
        this.$store.dispatch('cart/removeFavorite',this.id)
      }else{
        this.$store.dispatch('cart/addFavorite',this.id)
      }
    },
  }
}
</script>
<style lang="scss" scoped>


.product__item {
  margin-bottom: 35px;

  &:hover {
    .product__hover {
      li {
        opacity: 1;
        top: 0;
      }
    }
  }

}

.product__item__pic {
  height: 360px;
  position: relative;
  overflow: hidden;

  .label {
    font-size: 12px;
    color: $white-color;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 10px;

    &.stockout {
      background: $heading-color;
    }

    &.stockblue {
      background: #0066bd!important;
    }

    &.sale {
      background: $primary-color;
    }
  }
  .label.new{
    background: #36a300;
  }
}

.product__hover {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;

    &:nth-child(1) {
      @include transition(all 0.4s ease 0.1s);
    }

    &:nth-child(2) {
      @include transition(all 0.4s ease 0.15s);
    }

    &:nth-child(3) {
      @include transition(all 0.4s ease 0.2s);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      a {
        background: $primary-color;

        i {
          color: $white-color;
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }

    a {
      font-size: 18px;
      color: $heading-color;
      display: block;
      height: 45px;
      width: 45px;
      background: $white-color;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      @include transition(all, .5s);

      span {
        position: relative;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        @include transition(all, .3s);
        display: inline-block;
      }
    }
  }
}

.product__item__text {
  text-align: center;
  padding-top: 22px;

  h6 {
    a {
      font-size: 14px;
      color: $heading-color;
    }
  }

  .rating {
    line-height: 18px;
    margin-bottom: 5px;

    i {
      font-size: 10px;
      color: #e3c01c;
      margin-right: 0px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .product__price {
    color: $heading-color;
    font-weight: 600;

    span {
      font-size: 14px;
      color: #b1b0b0;
      text-decoration: line-through;
      margin-left: 4px;
    }
  }
}

</style>