<template>
  <a-card title="List Product">
    <TableHeader
        :columns="columns"
        placeholder="Search by Name"
        :query-params="queryParams"
        @search="handleSearch"
        @clearFilters="clearFilters"
    >
      <template #headerRightSideBar>
        <a-button @click="handleAddCategory" type="primary">Add Product</a-button>
      </template>
    </TableHeader>
    <a-table class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination" @change="handleTableChange">
      <template slot="actions" slot-scope="text, record">
        <a-button @click="onEditClicked(record.categoryId)" style="background:#35d230;" shape="circle" icon="edit" />
        <a-popconfirm
            title="Are you sure delete this category?"
            ok-text="Yes"
            cancel-text="No"
            @confirm="confirmDelete(record.categoryId)"
        >
          <a-button type="danger" shape="circle" icon="delete" />
        </a-popconfirm>
      </template>
    </a-table>
    <ModalAddEditCategory @ok="handleOk" ref="modalAddEdit"/>
  </a-card>
</template>

<script>
import {getCategories,createCategory,deleteCategory} from "../../../services/category"
import CurrencyFormat from "../../../utils/CurrencyFormat"
import ModalAddEditCategory from "../../../components/admin/category/ModalAddEditCategory"
import TableHeader from "../../../components/TableHeader"

export default {
  layout: 'admin',
  components:{TableHeader,ModalAddEditCategory},
  data() {
    return {
      loading: false,
      columns: [
        {
          title: 'ID',
          dataIndex: 'categoryId'
        },
        {
          title: 'Name',
          dataIndex: 'categoryName'
        },
        {
          title: 'Action',
          scopedSlots: { customRender: 'actions' },
          width: 150
        },
      ],
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
        showQuickJumper: true,
      },
      queryParams: {
        statuses: [],
        keywords: undefined
      }
    }
  },
  methods:{
    CurrencyFormat,
    loadListCategory(payload){
      this.loading = true;
      getCategories(payload).then((resp) => {
        this.loading = false
        this.data = resp.data
        this.pagination.current = resp['current_page']
        this.pagination.total = resp['total_item']
        this.pagination.pageSize = resp['size']
      })
    },
    handleTableChange(pagination, filters, sorter) {
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.loadListCategory({
        results: pagination.pageSize,
        page: pagination.current,
        sortField: sorter.field,
        sortOrder: sorter.order,
        ...filters,
      });
    },
    onDetailClicked(id){

    },
    onEditClicked(id){
      this.$refs.modalAddEdit.show(id)
    },
    handleAddCategory(){
      this.$refs.modalAddEdit.show()
    },
    async confirmDelete(id){
      await deleteCategory(id).then(()=>{
        this.$notification.success({
          message: 'Delete category successful'
        })
        this.handleOk()
      }).catch(()=>{
        this.$notification.error({
          message: 'Delete category failed'
        })
      })
    },
    handleSearch (keyword) {
      this.queryParams.keywords = keyword
      this.loadListCategory({
        name: keyword
      })
    },
    clearFilters () {
      this.queryParams.keywords = undefined
      this.loadListCategory()
    },
    handleOk () {
      this.loadListCategory()
    }
  },
  created() {
    this.loadListCategory()
  }
}
</script>

<style lang="scss" scoped>
::v-deep .a-table .ant-btn{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i{
    color: white;
  }
}
</style>