<template>
  <a-spin :spinning="loading">  <!-- Shop Section Begin -->
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="shop__sidebar">
              <div class="sidebar__categories">
                <div class="section-title">
                  <h4>Shop by Name</h4>
                </div>
                <div class="categories__accordion">
                  <div class="accordion">
                    <a-input placeholder="Search by Name" :maxLength="255" v-model="queryParams.name"/>
                  </div>
                </div>
              </div>
              <div class="sidebar__categories">
                <div class="section-title">
                  <h4>Categories</h4>
                </div>
                <div class="categories__accordion">
                  <div class="accordion">
                    <a-tree
                        v-model="queryParams.categories"
                      checkable
                      :tree-data="categories"
                    ></a-tree>
                  </div>
                </div>
              </div>
              <div class="sidebar__filter">
                <div class="section-title">
                  <h4>Shop by price</h4>
                </div>
                <div class="filter-range-wrap">
                  <div class="range-slider">
                    <p>Price:</p>
                    <a-slider range :max="20000000" :default-value="[0, 20000000]" :tip-formatter="formatter" v-model="queryParams.prices" />
                  </div>
                </div>
              </div>
              <div class="sidebar__sizes">
                <div class="section-title">
                  <h4>Shop by size</h4>
                </div>
                <div class="size__list">
                  <a-checkbox-group v-model="queryParams.sizes">
                    <a-row>
                      <a-col v-for="(item,index) in size" :key="index" :span="12">
                        <a-checkbox :value="item.code" name="sizes">
                          {{item.name}}
                        </a-checkbox>
                      </a-col>
                    </a-row>
                  </a-checkbox-group>
                </div>
              </div>
              <a-row :gutter="[12,12]">
                <a-col :span="24">
                  <a-select @change="handleSortChange" v-model="sortSelected" style="width: 100%">
                    <a-select-option v-for="item in sortOptions" :key="item.code" :value="item.code">
                      {{ item.title }}
                    </a-select-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row :gutter="12">
                <a-col :span="12"><a-button @click="onFilterClearClicked" size="large" block><span class="text-filter">Clear</span></a-button></a-col>
                <a-col :span="12"><a-button @click="onFilterClicked" size="large" block><span class="text-filter">Filter</span></a-button></a-col>
              </a-row>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="row">
              <product-item v-for="(product,index) in products" :key="index" v-bind="product"/>
              <div class="col-lg-12 text-center">
                <a-pagination
                    :current="pagination.current"
                    :total="pagination.total"
                    :page-size="pagination.pageSize"
                    @change="onPageChange"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shop Section End --></a-spin>
</template>

<script>
import ProductItem from "@/components/home-page/ProductItem"
import CategoryShop from "@/components/shop/CategoryShop"
import {getListProduct} from "../../services/home"
import {getListSize} from "../../services/size"
import {getListCategory} from "../../services/category"
import CurrencyFormat from "../../utils/CurrencyFormat"

export default {
  name:'shop',
  components:{CategoryShop, ProductItem},
  data() {
    return {
      products: [],
      size: [],
      categories: [],
      loading: true,
      queryParams: {
        orderBy: 'name',
        direction: 'desc'
      },
      pagination:{
        current: 1,
        total: 0,
        pageSize: 12
      },
      sortSelected: 'NAZ',
      sortOptions: [
        {
          title:'Sort by Name A-Z',
          code: 'NAZ',
          direction: 'asc',
          orderBy: 'name'
        },
        {
          title:'Sort by Name Z-A',
          code: 'NZA',
          direction: 'desc',
          orderBy: 'name'
        },
        {
          title:'Sort by Price A-Z',
          code: 'PAZ',
          direction: 'asc',
          orderBy: 'price'
        },
        {
          title:'Sort by Price Z-A',
          code: 'PZA',
          direction: 'desc',
          orderBy: 'price'
        },
        {
          title:'Sort by Newest',
          code: 'NEW',
          direction: 'desc',
          orderBy: 'createAt'
        },
      ]
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      handler(query) {
        this.onFilterClicked()
      },
    },
  },
  methods: {
    CurrencyFormat,
    async loadProducts () {
      const params = {
        name: this.$route.query.name || this.queryParams.name,
        minPrice: this.$route.query.min || this.queryParams.prices?.at(0),
        maxPrice: this.$route.query.max || this.queryParams.prices?.at(1),
        categories: this.$route.query.categories?.join(",") || this.queryParams.categories?.join(","),
        sizes: this.$route.query.sizes?.join(",") || this.queryParams.sizes?.join(","),
        page:this.$route.query.page || this.pagination.current,
        pageSize:this.$route.query.size || this.pagination.pageSize,
        orderBy: this.$route.query.orderby || this.queryParams.orderby,
        orderDirection: this.$route.query.direction || this.queryParams.direction,
      }
      const res = await getListProduct(params)
      this.products = res.data
      this.pagination.current = res['current_page']
      this.pagination.total = res['total_item']
      this.loading = false
    },
    async loadSize () {
      this.size = await getListSize()
    },
    async loadCategory () {
      this.categories = await getListCategory()
    },
    formatter(value) {
      return `${CurrencyFormat(value)}`
    },
    async onPageChange(current, pageSize) {
      this.pagination.current = current
      this.pagination.pageSize = pageSize
      await this.loadProducts()
    },
    async onFilterClicked () {
      this.loading = true
      await this.loadProducts()
      this.loading = false
    },
    async onFilterClearClicked () {
      this.loading = true
      this.queryParams = {
        orderBy: 'name',
        direction: 'desc'
      }
      this.queryParams.prices = [0,20000000]
      await this.loadProducts()
      this.loading = false
    },
    handleSortChange (value) {
      const option = this.sortOptions.find(x => x.code === value)
      this.queryParams.orderby = option.orderBy
      this.queryParams.direction = option.direction
    }
  },
  async created () {
    await Promise.all([
        this.loadProducts(),
        this.loadSize(),
        this.loadCategory()
    ])
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-btn{
  color: #69c0ff;
  border-color: #69c0ff;
  &:hover{
    color: #ca1515;
    border-color: #ca1515;
  }
}
::v-deep .text-filter{
  font-weight: bold;
  font-size: 18px;
}
.shop {
  padding-top: 70px;
  padding-bottom: 80px;
}

.sidebar__categories {
  margin-bottom: 50px;

  .section-title {
    margin-bottom: 35px;

    h4 {
      font-size: 18px;
    }
  }
}


.sidebar__filter {
  position: relative;
  margin-bottom: 60px;

  .section-title {
    margin-bottom: 50px;

    h4 {
      font-size: 18px;
    }
  }

  a {
    font-size: 14px;
    color: #0d0d0d;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: inline-block;
    padding: 5px 16px 5px 24px;
    border: 2px solid #ff0000;
    position: absolute;
    right: 0;
    bottom: -5px;
    border-radius: 2px;
  }
}

.filter-range-wrap .range-slider .price-input {
  position: relative;

  p {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0;
  }
}

.filter-range-wrap .range-slider .price-input:after {
  position: absolute;
  left: 81px;
  top: 12px;
  height: 1px;
  width: 5px;
  background: #0d0d0d;
  content: "";
}

.filter-range-wrap .range-slider .price-input input {
  font-size: 16px;
  color: #0d0d0d;
  max-width: 16%;
  border: none;
}

.filter-range-wrap .range-slider .price-input input:nth-child(1) {
  margin-right: 28px;
}

.filter-range-wrap .price-range {
  border-radius: 0;
  margin-bottom: 28px;
}

.filter-range-wrap .price-range.ui-widget-content {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  height: 5px;
}

.filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $primary-color;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter-range-wrap .price-range .ui-slider-range {
  background: $primary-color;
  border-radius: 0;
}

.sidebar__sizes {
  margin-bottom: 40px;

  .section-title {
    margin-bottom: 35px;

    h4 {
      font-size: 18px;
    }
  }

  .size__list {

    label {
      display: block;
      padding-left: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: #444444;
      position: relative;
      cursor: pointer;

      input {
        position: absolute;
        visibility: hidden;

        &:checked {

          & ~ .checkmark {
            border-color: $primary-color;

            &:after {
              border-color: $primary-color;
              opacity: 1;
            }
          }
        }
      }

      .checkmark {
        position: absolute;
        left: 0;
        top: 4px;
        height: 10px;
        width: 10px;
        border: 1px solid #444444;
        border-radius: 2px;

        &:after {
          position: absolute;
          left: 0px;
          top: -2px;
          width: 11px;
          height: 5px;
          border: solid $white-color;
          border-width: 1.5px 1.5px 0px 0px;
          -webkit-transform: rotate(127deg);
          -ms-transform: rotate(127deg);
          transform: rotate(127deg);
          opacity: 0;
          content: "";
        }
      }
    }
  }
}

.sidebar__color {
  @extend .sidebar__sizes;

  .color__list {

    label {
      text-transform: capitalize;
    }
  }
}

.pagination__option {

  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    font-size: 14px;
    color: $heading-color;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    @include transition(all, .3s);
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    i {
      font-weight: 600;
    }

    &:hover {
      background: #0d0d0d;
      border-color: #0d0d0d;
      color: $white-color;
    }
  }
}
</style>