<template>
  <!-- Product Details Section Begin -->
  <a-spin :spinning="loading"><section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="product__details__pic">
            <div class="">
              <a-carousel autoplay dots-class="slick-dots">
                <div v-for="(img,index) in variantSelected?.images" :key="index"
                     :class="['pt',index === 0 ? 'active' : '']">
                  <img :src="`${$config.prefixImagesApi}/${img.id}`" alt="" class="variant-images-carousel">
                </div>
                <div v-if="variantSelected.images?.length===0">
                  <img src="http://localhost:8080/api/images/default-placeholder.png" alt="" class="variant-images-carousel">
                </div>
              </a-carousel>

            </div>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="product__details__text">
            <h3>{{ product?.name }}</h3>
            <div class="rating">
              <span>( {{ product?.reviews}} reviews )</span>
            </div>
            <div class="product__details__price">{{
                product?.price?.toLocaleString('it-IT', {
                  style: 'currency',
                  currency: 'VND'
                })
              }}
              <span v-if="product?.salePrice">{{
                  product.salePrice?.toLocaleString('it-IT', {
                    style: 'currency',
                    currency: 'VND'
                  })
                }}</span>
            </div>
            <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
              magni lores eos qui ratione voluptatem sequi nesciunt.</p>
            <div class="product__details__button">
              <div class="quantity">
                <span>Quantity:</span>
                <div class="pro-qty">
                  <input type="number" v-model="quantity"/>
                </div>
              </div>
              <a @click.prevent="onAddCartClicked" href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
            </div>
            <div class="variant-color">
              <a-row>
                <span>Available variants:</span>
                <div class="color__checkbox">
                  <a-col :span="2" v-for="(variant,index) in product?.variants" :key="index">
                    <label @click="variantSelectionChanged(variant)" class="variant-color-label" :for="`color_${index}`">
                      <a-tooltip placement="topLeft" :title="variant?.name">
                        <input type="radio" name="color__radio" :id="`color_${index}`" style="display: none"
                               :checked="variant === variantSelected ? 'checked':'false'">
                        <span :style="{backgroundColor:variant.color ? variant.color:'grey'}" class="checkmark"></span>
                      </a-tooltip>
                    </label>
                  </a-col>
                </div>
              </a-row>
              <a-row>
                <span>Available size:</span>
                <div class="size__btn">
                  <a-radio-group v-model="selectedSizeCode">
                    <a-radio :value="size.sizeCode" v-for="(size,index) in variantSelected.sizes" :key="index">
                      {{size.sizeCode}}
                    </a-radio>
                  </a-radio-group>
                  <div v-if="variantSelected.sizes?.length===0">Size is not  available</div>
                </div>
              </a-row>
              <a-row>
                <span>Promotions:</span>
                <p>Free shipping</p>
              </a-row>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <a-tabs class="product__details__tab" default-active-key="1">
            <a-tab-pane key="1" tab="Description">
              <a-collapse default-active-key="1" :bordered="false" expand-icon-position="right">
                <a-collapse-panel key="1" header="Summary">
                  <p>{{ (description?.title || '') + " " + (description?.subtitle || '')}}</p>
                  <p>{{description?.text || ''}}</p>
                </a-collapse-panel>
                <a-collapse-panel key="2" header="Details">
                  <ul style="padding-left: 50px;">
                    <li v-for="(item,index) in description?.usps" :key="index">{{item}}</li>
                  </ul>
                </a-collapse-panel>
                <a-collapse-panel key="3" header="Wash Instructions">
                  <ul style="padding-left: 50px;">
                    <li v-for="(item,index) in description?.wash_care_instructions?.care_instructions" :key="index">{{item.description}}</li>
                  </ul>
                  <ul style="padding-left: 50px;">
                    <li v-for="(item,index) in description?.wash_care_instructions?.extra_care_instructions" :key="index">{{item}}</li>
                  </ul>
                </a-collapse-panel>
              </a-collapse>
            </a-tab-pane>
            <a-tab-pane key="2" tab="Reviews" force-render>
              <comment/>
            </a-tab-pane>
          </a-tabs>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="related__title">
            <h5>RELATED PRODUCTS</h5>
          </div>
        </div>
        <product-item v-for="(product,index) in relatedProduct" :key="index" v-bind="product"/>
      </div>
    </div>
  </section></a-spin>
  <!-- Product Details Section End -->
</template>

<script>
import {getProductDetailsById,getProductRelated} from "../../services/product";
import {mapActions,mapGetters} from "vuex";
import ProductItem from "../../components/home-page/ProductItem";
import Comment from "../../components/Comment"
export default {
  name: 'productDetails',
  components: {ProductItem,Comment},
  scrollToTop: true,
  async fetch() {
    const product = await getProductDetailsById(this.$route.params.id)
    this.product = product
    this.description = JSON.parse(product.description)
    if (product?.variants?.length > 0) {
      const relatedProduct = (await getProductRelated(product.variants[0].id,{k:4}))
      this.relatedProduct = relatedProduct.data
      this.variantSelected = product.variants[0]
    }
    this.loading = false
  },
  data() {
    return {
      selectedSizeCode: '',
      activePanelDescription:1, // first panel
      quantity:1,
      relatedProduct: [],
      variantSelected: {},
      product: {},
      description: {},
      loading: true
    }
  },
  methods:{
    ...mapActions({
      addItemToCart:'cart/addItemToCart'
    }),
    ...mapGetters('auth', ['isAuthenticated']),
    variantSelectionChanged(variant){
      this.variantSelected = variant
      this.selectedSizeCode = ''
    },
    onAddCartClicked(){
      if(isNaN(this.quantity)){
        this.$notification.error({
          message:'Quantity is not a number'
        })
        return
      }
      if(this.quantity <= 0){
        this.$notification.error({
          message:'Quantity invalid'
        })
        return
      }
      if(!this.selectedSizeCode){
        this.$notification.error({
          message:'Please select size first'
        })
        return;
      }
      const currentQty = this.variantSelected.sizes?.find(s => s.sizeCode === this.selectedSizeCode)?.quantity || 0
      if(currentQty === 0){
        this.$notification.error({
          message:'Out of stock'
        })
        return
      }
      if(this.quantity > currentQty){
        this.$notification.error({
          message:'Quantity not enough'
        })
        return
      }
      const itemData = {
        variantsId:this.variantSelected.id,
        variantsName: this.variantSelected.name,
        productName: this.product.name,
        size:this.selectedSizeCode,
        quantity:this.quantity,
        thumbnail: this.variantSelected.thumbnail,
        price: this.product.price,
        salePrice: this.product.salePrice
      }
      this.addItemToCart(itemData)
          .then(resp => {
            this.$notification.success({
              message:'Add to cart successful'
            })
          })
          .catch(err => {
            this.$notification.error({
              message:'Add to cart failed'
            })
          })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-collapse{
  background: none;
}
::v-deep .ant-tabs-tabpane.ant-tabs-tabpane-active {
  padding: 0 30px;
}
::v-deep .ant-tabs-nav-container{
  text-align: center;
}
.ant-carousel ::v-deep .slick-dots{
  li{
    button{
      background: #424242 !important;
    }
    &.slick-active button{
      background: orangered !important;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hide{
  display: none;
}
.variant-color-label{
  display: inline-flex;
  align-items: baseline;
  position: relative;
  width: 20px;
  height: 20px;
  &.active {

    input {

      &~.checkmark {

        &:after {
          border-color: $white-color;
          opacity: 1;
        }
      }
    }
  }
  input {
    position: absolute;
    visibility: hidden;

    &:checked {

      &~.checkmark {

        &:after {
          border-color: $white-color;
          opacity: 1;
        }
      }
    }
  }
  .checkmark {
    position: absolute;
    left: 0;
    top: -10px;
    height: 20px;
    width: 20px;
    background: #e31e2f;
    border-radius: 50%;
    content: "";

    &.black-bg {
      background: #111111;
    }

    &.grey-bg {
      background: #e4aa8b;
    }

    &:after {
      position: absolute;
      left: 3px;
      top: 5px;
      width: 13px;
      height: 6px;
      border: solid #ffffff;
      border-width: 1.5px 1.5px 0px 0px;
      -webkit-transform: rotate(127deg);
      -ms-transform: rotate(127deg);
      transform: rotate(127deg);
      opacity: 0;
      content: "";
    }
  }
}

.checkmark {
  position: absolute;
  left: 0;
  top: 5px;
  height: 10px;
  width: 10px;
  border: 1px solid #444444;
  border-radius: 2px;

  &:after {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 11px;
    height: 5px;
    border: solid $white-color;
    border-width: 1.5px 1.5px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    opacity: 0;
    content: "";
  }
}
.variant-color > div > span{
  font-weight: bold;
}
.variant-images-carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  padding-top: 70px;
  padding-bottom: 50px;
}

.product__details__pic {
  overflow: hidden;
}

.product__details__pic__left {
  width: 22%;
  max-height: 574px;
  float: left;
  overflow-y: auto;

  .pt {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0;
      @include transition(all 0.3s);
    }

    &.active::after {
      opacity: 0.3;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      min-width: 100%;
    }
  }
}

.product__details__slider__content {
  width: calc(78% - 20px);
  float: left;
  margin-left: 20px;
}

.product__details__pic__slider {

  &.owl-carousel {

    .owl-nav {

      button {
        position: absolute;
        left: 10px;
        top: 50%;
        font-size: 22px;
        color: $heading-color;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        line-height: 44px;
        text-align: center;
        margin-top: -20px;

        &.owl-next {
          left: auto;
          right: 10px;
        }
      }
    }
  }
}

.product__details__text {

  h3 {
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;

    span {
      display: block;
      font-size: 14px;
      color: #444444;
      text-transform: none;
      font-weight: 400;
      margin-top: 5px;
    }
  }

  .rating {
    margin-bottom: 16px;

    i {
      font-size: 12px;
      color: #e3c01c;
      margin-right: -4px;
    }

    span {
      font-size: 12px;
      color: #666666;
      margin-left: 5px;
    }
  }

  p {
    color: #444444;
    margin-bottom: 28px;
  }
}

.product__details__price {
  font-size: 30px;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 30px;

  span {
    font-size: 18px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 10px;
    display: inline-block;
  }
}

.quantity {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;

  & > span {
    font-size: 14px;
    color: $heading-color;
    font-weight: 600;
    float: left;
    margin-top: 14px;
    margin-right: 15px;
  }
}

.pro-qty {
  height: 50px;
  width: 150px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  padding: 0 20px;
  overflow: hidden;
  display: inline-block;

  .qtybtn {
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    float: left;
    width: 12px;
    line-height: 46px;
  }

  input {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    border: none;
    float: left;
    width: 84px;
    text-align: center;
    height: 48px;
  }
}

.product__details__button {
  overflow: hidden;
  margin-bottom: 25px;

  .cart-btn {
    display: inline-block;
    font-size: 14px;
    color: $white-color;
    background: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px 15px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  ul {
    float: left;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: inline-block;
        height: 50px;
        width: 50px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        padding-top: 1px;

        span {
          font-size: 18px;
          color: #666666;
        }
      }
    }
  }
}


.product__details__tab {
  padding-top: 80px;
  margin-bottom: 65px;
}

.nav {
  border-bottom: none;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    left: 0;
    top: 13px;
    height: 1px;
    width: 335px;
    background: #e1e1e1;
    content: "";
  }

  &::after {
    position: absolute;
    right: 0;
    top: 13px;
    height: 1px;
    width: 335px;
    background: #e1e1e1;
    content: "";
  }
}

.nav-item {
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-size: 18px;
    color: #666666;
    font-weight: 600;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;

    &.active {
      color: $heading-color;
    }
  }
}

.tab-content {

  .tab-pane {

    h6 {
      color: #666666;
      font-weight: 600;
      margin-bottom: 24px;
    }

    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.related__title {

  h5 {
    font-size: 20px;
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}
.product__details__price{
  color:red !important;
}
</style>