<template>
  <div style="padding: 20px 30px">
    <a-row :gutter="[24,24]" type="flex" justify="center">
      <a-col :span="8">
        <a-card :bordered="false">
          <a-descriptions>
            <a-descriptions-item :span="3" label="Address">Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội, Vietnam</a-descriptions-item>
            <a-descriptions-item :span="3" label="Phone">0123456789</a-descriptions-item>
            <a-descriptions-item :span="3" label="Email">empower.outfit@gmail.com</a-descriptions-item>
          </a-descriptions>
        </a-card>
      </a-col>
      <a-col :span="16">
        <a-card :bordered="false">
          <div style="max-width:100%;overflow:hidden;color:red;width:100%;height: 450px;">
            <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Trường+Đại+học+Công+nghiệp+Hà+Nội,+Đường+Cầu+Diễn,+Nhổn,+Minh+Khai,+Bắc+Từ+Liêm,+Hà+Nội,+Việt+Nam&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                    style="height:100%;width:100%;border:0;"></iframe>
          </div>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>

</style>