<template>
  <div class="page-container">
    <!-- Categories Section Begin -->
    <section class="categories">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <categories-item-lg name="Women’s fashion" description="" :path="{path:'/shop',query:{categories:[1315]}}" img="categories/category-1.jpg"/>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <categories-item name="Men's fashion" :path="{path:'/shop',query:{categories:[1281]}}" img="categories/category-2.jpg"/>
              <categories-item name="Kid’s fashion" :path="{path:'/shop',query:{categories:[1347]}}" img="categories/category-3.jpg"/>
              <categories-item name="Sport" :path="{path:'/shop',query:{categories:[1366]}}" img="categories/category-4.jpg"/>
              <categories-item name="Accessories" :path="{path:'/shop'}" img="categories/category-5.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="section-title">
              <h4>New product</h4>
            </div>
          </div>
        </div>
        <new-product/>
      </div>
    </section>
    <!-- Product Section End -->

    <!-- Banner Section Begin -->
    <home-banner/>
    <!-- Banner Section End -->

    <!-- Trend Section Begin -->
    <section class="trend spad">
      <div class="container">
        <list-group-product/>
      </div>
    </section>
    <!-- Trend Section End -->
    

    <!-- Services Section Begin -->
    <section class="services spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="services__item">
              <div>
                <i class="fas fa-shipping-fast"></i>
                <h6>Fast Delivery</h6>
                <p>Quick and easy</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="services__item">
              <div>
                <i class="fa fa-headphones"></i>
                <h6>Online Support 24/7</h6>
                <p>Dedicated support</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="services__item">
              <div>
                <i class="fas fa-shield-alt"></i>
                <h6>Payment Secure</h6>
                <p>100% secure payment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->
  </div>
</template>

<script>
import CategoriesItem from "@/components/home-page/CategoriesItem";
import CategoriesItemLg from "@/components/home-page/CategoriesItemLg";
import NewProduct from "@/components/home-page/NewProduct";
import HomeBanner from "@/components/home-page/HomeBanner";
import ListGroupProduct from "@/components/home-page/ListGroupProduct";

export default {
  components: {
    ListGroupProduct,
    HomeBanner,
    NewProduct,
    CategoriesItemLg,
    CategoriesItem,
  },
  layout: 'default',
  data() {
    return {

    }
  },
}
</script>
<style lang="scss" scoped>
.categories {
  overflow: hidden;
  margin-top: 10px;

  .container-fluid {
    padding-right: 5px;
  }
}

.product {
  padding-top: 60px;
  padding-bottom: 50px;
}

.trend {
  padding-top: 80px;
  padding-bottom: 50px;
}

.services {
  padding-top: 80px;
  padding-bottom: 50px;
}

.services__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  div{
    position: relative;
    padding-left: 65px;
    i {
      font-size: 36px;
      color: $primary-color;
      position: absolute;
      left: 0;
      top: 4px;
    }

    h6 {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0;
    }
  }
}


</style>


