<template>
  <div>
    <a-list
        class="comment-list"
        item-layout="horizontal"
        :data-source="commentData"
        :loading="loading"
    >
      <div
          v-if="showLoadingMore && this.currentPage < Math.ceil((this.totalRecord / this.currentSize))"
          slot="loadMore"
          :style="{ textAlign: 'center', marginTop: '12px',marginBottom: '12px' , height: '32px', lineHeight: '32px' }"
      >
        <a-spin v-if="loadingMore" />
        <a-button v-else @click="onLoadMore">
          loading more
        </a-button>
      </div>
      <a-list-item slot="renderItem" slot-scope="item, index">
        <a-comment :author="item.userName">
          <template slot="avatar"><a-avatar icon="user" /></template>
          <p slot="content">
            {{ item.content }}
          </p>
          <a-tooltip slot="datetime" :title="$moment(item.createAt).format('YYYY-MM-DD HH:mm:ss')">
            <span>{{ $moment(item.createAt).fromNow() }}</span>
          </a-tooltip>
        </a-comment>
      </a-list-item>
    </a-list>
    <a-comment v-if="isAuthenticated">
      <a-avatar slot="avatar" icon="user"/>
      <div slot="actions">
        <a-button @click="handleCreateReview" type="primary">Send</a-button>
      </div>
      <div slot="content">
        <a-form-model ref="form" :model="workingItem">
          <a-form-model-item prop="content" :rules="[{required:true,message: 'This field is required'}]">
            <a-input v-model="workingItem.content" type="textarea" placeholder="Your review" :rows="4" :maxLength="500" />
          </a-form-model-item>
        </a-form-model>
      </div>
    </a-comment>
  </div>
</template>

<script>
import { getProductReview,createReview } from "../services/product"
import {mapGetters} from "vuex"
export default {
  data() {
    return {
      commentData: [],
      loading: true,
      loadingMore: false,
      showLoadingMore: true,
      currentPage: 1,
      currentSize: 3,
      totalRecord: 0,
      workingItem: {}
    }
  },
  async created () {
    await this.loadComment()
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated','getName'])
  },
  methods: {
    async loadComment () {
      const params = {
        page: this.currentPage,
        pageSize: this.currentSize
      }
      const res = await getProductReview(this.$route.params.id,params)
      this.commentData = res.data
      this.totalRecord = res['total_item']
      this.loading = false
      return res
    },
    async onLoadMore() {
      this.loadingMore = true
      this.currentPage++
      const res = await this.loadComment()
      this.commentData = this.commentData.concat(res.data)
      this.loadingMore = false
      this.$nextTick(() => {
        window.dispatchEvent(new Event('resize'));
      });
    },
    async handleCreateReview () {
      this.$refs.form.validate(async (valid) => {
        if(!valid) return
        const params = {
          productId: this.$route.params.id,
          content: this.workingItem.content
        }
        await createReview(params).then(resp => {
          this.$notification.success({message: 'Successful'})
          this.$refs.form.resetFields()
          this.loadComment()
        }).catch(err => {
          this.$notification.error({message: err.response.data.message || 'Fail'})
        })
      })
    }
  }
}
</script>

<style scoped>
::v-deep .ant-comment-content-author-name{
  font-weight: bold;
  font-size: 16px;
}
::v-deep .ant-comment-content-author-time{
  font-size: 14px;
}
</style>