<template>
  <a-dropdown v-model="visible" :trigger="['click']" placement="bottomRight" @visibleChange="onVisibleChanged">
    <a
      :class="`ant-dropdown-link ${hasFilter ? 'ant-dropdown-link-active' : ''}`"
      @click="(e) => e.preventDefault()"
    >
      {{ displayTitle }} <a-icon type="caret-down" style="margin-left: 4px" />
    </a>
    <a-card slot="overlay" class="filter-card-wrapper">
      <div class="filter-check-all">
        <a-checkbox :indeterminate="indeterminate" :checked="checkAll" @change="onCheckAllChange">
          Check All
        </a-checkbox>
      </div>
      <div class="filter-options">
        <a-checkbox-group v-model="checkedList" @change="onChange" :options="options">
        </a-checkbox-group>
      </div>
    </a-card>
  </a-dropdown>
</template>
<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => []
    },
    options: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      checkedList: this.value,
      visible: false,
      indeterminate: false,
      checkAll: false,
      firstSelectedItem: undefined
    }
  },
  watch: {
    value (val) {
      if (val.length === 0) {
        this.checkedList = []
        this.firstSelectedItem = undefined
        this.indeterminate = false
        this.checkAll = false
      }
    }
  },
  computed: {
    displayTitle () {
      if (this.checkedList.length > 0 && this.firstSelectedItem) {
        return `${this.firstSelectedItem.label}${
          this.checkedList.length > 1 ? ` (+${this.checkedList.length - 1})` : ''
        }`
      }
      return `${this.title || 'Filter Column'}`
    },
    hasFilter () {
      return this.checkedList.length !== 0
    }
  },
  async mounted () {},
  methods: {
    onChange (checkedList) {
      if (checkedList.length === 1) {
        this.firstSelectedItem = this.options.find((x) => x.value === checkedList[0])
      }
      this.indeterminate = !!checkedList.length && checkedList.length < this.options.length
      this.checkAll = checkedList.length === this.options.length
      this.value.splice(0, this.value.length)
      this.value.push(...checkedList)
      this.$emit('change', this.checkedList)
    },
    onCheckAllChange (e) {
      Object.assign(this, {
        checkedList: e.target.checked ? this.options.map((x) => x.value) : [],
        indeterminate: false,
        checkAll: e.target.checked
      })
      this.value.splice(0, this.value.length)
      this.value.push(...this.checkedList)
      this.$emit('change', this.checkedList)
    },
    onVisibleChanged (e) {
      this.$emit('visibleChanged', e)
    }
  }
}
</script>
<style lang="less" scoped>
.ant-checkbox-group::v-deep {
  display: flex;
  flex-direction: column;
  .ant-checkbox-group-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.ant-dropdown-link {
  white-space: nowrap;
  padding: 0 12px;
  line-height: 32px;
  border-radius: 4px;
  transition: background 80ms linear;
  color: #5f6368;
  &-active {
    font-weight: 700;
  }
  &:hover {
    background: #d9d9d9;
  }
}
.filter {
  &-card-wrapper {
    min-width: 150px;
    max-width: 300px;
  }
  &-check-all {
    padding: 12px 20px;
    border-bottom: 1px solid #d9d9d9;
  }
  &-options {
    padding: 12px 20px;
    overflow: auto;
    max-height: 200px;
  }
}
</style>
