<template>
  <div @mousedown="ToggleLoginModal()" v-if="isOpen" class="login">
    <div @mousedown.stop class="container">
      <span class="error animated tada" id="msg"></span>
      <form v-if="!isSignUp" name="form1" class="box" style="text-align: center">
        <h4>EmpowerOutfit</h4>
        <h5>Sign in to your account.</h5>
        <input v-model="signInForm.email" type="text" name="email" placeholder="Email" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input v-model="signInForm.password" type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <div class="rmb-container">
          <label for="rmb">
            <small class="rmb">Remember me</small>
            <input v-model="remember" type="checkbox" id="rmb" name="rmb">
            <span></span>
          </label>
          <a href="#" class="forgetpass">Forget Password?</a>
        </div>
        <input @click="onLoginClicked" type="button" value="Sign in" class="btn1">
        <a @click="onSignupClicked" href="#" class="dnthave">Don’t have an account? Sign up</a>
      </form>
      <div class="form-signup" v-else>
        <a-form-model ref="signUpForm" layout="vertical" :model="signUpForm" :rules="rules">
          <a-row :gutter="8">
            <a-col :span="12">
              <a-form-model-item label="First name" prop="firstName">
                <a-input placeholder="First name" v-model="signUpForm.firstName"></a-input>
              </a-form-model-item>
            </a-col>
            <a-col :span="12">
              <a-form-model-item label="Last name" prop="lastName">
                <a-input placeholder="Last name" v-model="signUpForm.lastName"></a-input>
              </a-form-model-item>
            </a-col>
          </a-row>
          <a-form-model-item label="Birthdate" prop="birthDay">
            <a-date-picker
                v-model="signUpForm.birthDay"
                format="DD/MM/YYYY"
                type="date"
                placeholder="Pick a date"
                style="width: 100%;"
            />
          </a-form-model-item>
          <a-form-model-item label="Email" prop="email">
            <a-input placeholder="Email" v-model="signUpForm.email"></a-input>
          </a-form-model-item>
          <a-form-model-item label="Address" prop="address">
            <a-input placeholder="Address" v-model="signUpForm.address"></a-input>
          </a-form-model-item>
          <a-form-model-item label="Phone number" prop="phone">
            <a-input placeholder="Phone number" v-model="signUpForm.phone"></a-input>
          </a-form-model-item>
          <a-form-model-item label="Password" prop="password">
            <a-input type="password" placeholder="Password" v-model="signUpForm.password"></a-input>
          </a-form-model-item>
          <a-form-model-item label="Confirm password" prop="rePassword">
            <a-input has-feedback type="password" placeholder="Password" v-model="signUpForm.rePassword"></a-input>
            <a class="btn-sign-in" @click.prevent="onSignInClicked" href="#">sign in</a>
          </a-form-model-item>

          <div style="text-align: center">
            <a-button @click="onSubmitClicked" type="primary">Sign Up</a-button>
          </div>
        </a-form-model>
      </div>
    </div>
    <div class="login-overlay"></div>
  </div>
</template>

<script>
import {registerAccount,login} from "../services/account";

export default {
  name:'login-modal',
  data() {
    let checkPending;
    let checkRePassword = (rule, value, callback) => {
      clearTimeout(checkPending)
      if(!value){
        callback(new Error('This field is required'))
      }
      checkPending = setTimeout(()=>{
        if(value !== this.signUpForm.password){
          callback(new Error('The passwords do not match'))
        }else{
          callback()
        }
      },1000)
    }

    return {
      isOpen:false,
      remember:false,
      isSignUp: false,
      signInForm:{
        email:'',
        password:''
      },
      signUpForm:{
        firstName:'',
        lastName:'',
        birthday:undefined,
        email:'',
        address:'',
        phone:'',
        password:'',
        rePassword:''
      },
      rules : {
        firstName:[{required:true,message:'This field is required', trigger: 'blur'}],
        lastName:[{required:true,message:'This field is required', trigger: 'blur'}],
        birthday:[{required:true,message:'This field is required', trigger: 'change'}],
        email:[
          {required:true,message:'This field is required', trigger: 'blur'},
          {type:'email',message:'Invalid email', trigger: 'blur'},
        ],
        address:[{required:true,message:'This field is required', trigger: 'blur'}],
        phone:[
            {required:true,message:'This field is required', trigger: 'blur'},
            {min:10,max:11,message:'Phone number not valid', trigger: 'blur'},
        ],
        password:[
            {required:true,message:'This field is required', trigger: 'blur'},
            {min:6,message:'Password length must be greater than 6', trigger: 'blur'},
        ],
        rePassword:[
          {required:true,message:'This field is required', trigger: 'blur'},
          {validator: checkRePassword, trigger: 'change'}
        ]
      }
    }
  },
  methods:{
    async registerAccount(payload){
      return await registerAccount(payload)
          .then(resp => {
            this.$notification.success({
              message: 'Registration successfully',
              description:'',
            });
            this.ToggleLoginModal();
            this.showSignUpForm(false);
            this.$refs.signUpForm.resetFields();
          })
          .catch(err => {
            this.$notification.error({
              message: 'Registration failed',
              description:err.response?.data?.message,
            });
          })
    },
    ToggleLoginModal(){
      this.isOpen = !this.isOpen;
    },
    showSignUpForm(value){
      this.isSignUp = value
    },
    onSignupClicked(){
      this.showSignUpForm(true)
    },
    onSignInClicked(){
      this.showSignUpForm(false)
    },
    onLoginClicked(){
      if(this.signInForm.email.length === 0 || this.signInForm.password.length === 0) return
      this.$store.dispatch('auth/login',this.signInForm)
          .then(resp => {
            this.$notification.success({
              message: 'Login success',
              description:'',
            })
            this.ToggleLoginModal();
          })
          .catch(err=>{
            if(err.response?.status === 401){
              this.$notification.error({
                message: 'Login fail',
                description:err.response?.data?.message,
              })
            }else{
              this.$notification.error({
                message: 'Login fail',
                description:'An error occurred',
              })
            }
          })

    },
    onSubmitClicked(){
      this.$refs.signUpForm.validate(valid => {
        if(valid){
          const payload = {...this.signUpForm,birthday:this.signUpForm.birthDay.format('YYYY/MM/DD')}
          delete payload.rePassword
          this.registerAccount(payload)
        }else{
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-sign-in{
  display: block;
  float: right;
}
.form-signup{
  margin: 20px 0 40px 0;
}
.login {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  filter: blur(5px);
  opacity:0.8;
  z-index: -1;
}
.container{
  margin: 0;
  top: 30px;
  left: 50%;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  background-color: $background;
  border-radius: 9px;
  border-top: 10px solid #5d33e6;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  min-height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px $secondary-color;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.box {
  h4{
    color: $secondary-color;
    font-size: 18px;
    margin-top:64px;
  }
  h5 {
    font-size: 13px;
    color: $para-color;
    letter-spacing: 1.5px;
  }
  input[type = "text"],input[type = "password"] {
    display: block;
    margin: 20px auto;
    background: $border;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: $secondary-color;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

  }
  ::-webkit-input-placeholder{
    color: #565f79;
  }

  input[type = "text"]:focus,input[type = "password"]:focus {
    border: 1px solid #79A6FE;
  }
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.rmb-container{
  display: flex;
  justify-content: space-between;
  label{
    display: flex;
    align-items: center;
    margin: 0 25px;
    input[type = "checkbox"] {
      display: none;
    }
    span {
      margin-left: 5px;
      height: 13px;
      width: 13px;
      border: 2px solid #464d64;
      border-radius: 2px;
      display: inline-block;
      cursor: pointer;
      position: relative;
    }
  }
}

.rmb {
  color: $secondary-color;
  font-size: 13px;
}

.btn1 {
  border:0;
  background: $secondary-color;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: #5d33e6;
  }
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
  position: absolute;
  top: 92%;
  left: 24%;
}

input[type=checkbox]:checked {
  & + span {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight:900;
    color: $primary-color;
  }
  & + span::before{
    content: "\f00c";
    position: absolute;
    top: -5px;
    left: -1px;
  }
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
  .active{
    color: #7f60eb;
  }
}


.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

</style>