<template>
  <div class="table-header">
    <div v-if="titleTable" class="table-header-title">{{ titleTable }}</div>
    <div
      v-if="hasFilter || $slots.headerLeftSideBar || $slots.headerRightSideBar"
    >
      <div class="table-header-operations-bar">
        <div class="table-header-operations-left-side-bar">
          <a-button v-if="hasFilter" @click="toggleFilters">
            <a-icon type="filter" />
            Filter
          </a-button>
          <slot name="headerLeftSideBar"></slot>
        </div>
        <div class="table-header-operations-right-side-bar">
          <slot name="headerRightSideBar"></slot>
        </div>
      </div>
    </div>
    <div v-if="hasFilter && showFilter" class="table-header-operations-filter-bar">
      <a-input
        :value="queryParams.keywords"
        :placeholder="placeholder"
        :maxLength="255"
        @keyup.enter="search"
      >
        <a-icon slot="prefix" type="search" style="color: #5f6368" />
      </a-input>
      <slot name="filterInputs"></slot>
      <a-icon
        v-show="showIconClearFilters"
        class="table-header-operations-filter-bar-clear"
        type="close"
        @click="clearFilters"
      ></a-icon>
    </div>
  </div>
</template>
<script>

export default {
  props: {
    hasFilter: {
      type: Boolean,
      default: true
    },
    titleTable: {
      type: String,
      default: undefined
    },
    placeholder: {
      type: String,
      default: 'Search by keyword'
    },
    queryParams: {
      type: Object,
      default: () => {
        return {
          keywords: undefined
        }
      }
    },
    showIconClearFilters: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      showFilter: false,
    }
  },
  computed: {},
  methods: {
    toggleFilters () {
      this.showFilter = !this.showFilter
      this.$emit('showFilter', this.showFilter)
    },
    search (e) {
      this.$emit('search', e.target.value)
    },
    clearFilters () {
      this.$emit('clearFilters')
    },
  }
}
</script>

<style lang="scss" scoped>
.table-header {
  .table-header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: black;
  }
  .table-header-operations-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .table-header-operations-left-side-bar {
    display: flex;
    align-items: center;
    .ant-btn {
      margin-right: 12px;
    }
  }
  .table-header-operations-filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    min-height: 50px;
    border-radius: 4px;
    padding: 5px;
    background-color: #fafafa;
    .ant-input {
      background-color: transparent;
      border: 0 none;
    }
    .ant-select-selection {
      background-color: transparent;
      border: 0 none;
      box-shadow: none;
    }
  }
  .table-header-operations-filter-bar-clear {
    margin: 0 10px 0 32px;
    font-size: 16px;
  }
}
</style>
