<template>
  <a-card title="List Product">
    <TableHeader
        :columns="columns"
        placeholder="Search by Name"
        :query-params="queryParams"
        @search="handleSearch"
        @clearFilters="clearFilters"
    >
      <template #headerRightSideBar>
        <a-button @click="handleAddProduct" type="primary">Add Product</a-button>
      </template>
    </TableHeader>
    <a-table class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination" @change="handleTableChange">
      <template slot="price" slot-scope="text, record">
        {{CurrencyFormat(record.price)}}
      </template>
      <template slot="salePrice" slot-scope="text, record">
        {{record.salePrice ? CurrencyFormat(record.salePrice) : ''}}
      </template>
      <template slot="images" slot-scope="text, record">
        <img style="height: 50px" :src="`${$config.prefixImagesApi}/${record.imgs[0]}`" alt="">
      </template>
      <template slot="actions" slot-scope="text, record">
        <a-button @click="onEditClicked(record.id)" style="background:#35d230;" shape="circle" icon="edit" />
        <a-popconfirm
            title="Are you sure delete this product?"
            ok-text="Yes"
            cancel-text="No"
            @confirm="confirmDelete(record.id)"
        >
          <a-button type="danger" shape="circle" icon="delete" />
        </a-popconfirm>
      </template>
    </a-table>
    <ModalAddEditProduct @ok="handleOk" ref="modalAddEdit"/>
  </a-card>
</template>

<script>
import {deleteProduct,} from "../../../services/admin/product"
import {getProductOutOfStock} from "../../../services/dashboard"
import CurrencyFormat from "../../../utils/CurrencyFormat"
import ModalAddEditProduct from "@/components/admin/products/ModalAddEditProduct"
import TableHeader from "../../../components/TableHeader"

export default {
  layout: 'admin',
  components:{TableHeader,ModalAddEditProduct},
  data() {
    return {
      loading: false,
      columns: [
        {
          title: 'Product Name',
          dataIndex: 'name',
        },
        {
          title: 'Price',
          scopedSlots: { customRender: 'price' },
        },
        {
          title: 'Sale Price',
          scopedSlots: { customRender: 'salePrice' },
        },
        {
          title: 'Image',
          scopedSlots: { customRender: 'images' },
        },
        {
          title: 'Action',
          scopedSlots: { customRender: 'actions' },
          width: 150
        },
      ],
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
        showQuickJumper: true,
      },
      queryParams: {
        statuses: [],
        keywords: undefined
      }
    }
  },
  methods:{
    CurrencyFormat,
    loadListProduct(payload){
      this.loading = true;
      getProductOutOfStock(payload).then((resp) => {
        this.loading = false
        this.data = resp.data
        this.pagination.current = resp['current_page']
        this.pagination.total = resp['total_item']
        this.pagination.pageSize = resp['size']
      })
    },
    handleTableChange(pagination, filters, sorter) {
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.loadListProduct({
        results: pagination.pageSize,
        page: pagination.current,
        sortField: sorter.field,
        sortOrder: sorter.order,
        ...filters,
      });
    },
    onDetailClicked(id){

    },
    onEditClicked(id){
      this.$refs.modalAddEdit.showModal(id)
    },
    handleAddProduct(){
      this.$refs.modalAddEdit.showModal()
    },
    confirmDelete(id){
      deleteProduct(id).then(()=>{
        this.$notification.success({
          message: 'Delete product successful'
        })
        this.handleOk()
      }).catch(()=>{
        this.$notification.error({
          message: 'Delete product failed'
        })
      })
    },
    handleSearch (keyword) {
      this.queryParams.keywords = keyword
      this.loadListProduct({
        name: keyword
      })
    },
    clearFilters () {
      this.queryParams.keywords = undefined
      this.loadListProduct()
    },
    handleOk () {
      this.loadListProduct()
    }
  },
  created() {
    this.loadListProduct()
  }
}
</script>

<style lang="scss" scoped>
::v-deep .a-table .ant-btn{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i{
    color: white;
  }
}
</style>