<template>
  <!-- Checkout Section Begin -->
  <section class="checkout spad">
    <div class="container">
      <a-row :gutter="24">
        <a-col :span="14">
          <h5>Billing detail</h5>
          <a-form-model ref="form" :model="workingItem">
            <a-row :gutter="12">
              <a-col :span="12">
                <a-form-model-item label="First Name" prop="firstName" :rules="[{required: true,message: 'This field is required'}]">
                  <a-input placeholder="First Name" v-model="workingItem.firstName" :maxLengh="255"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <a-form-model-item label="Last Name" prop="lastName" :rules="[{required: true,message: 'This field is required'}]">
                  <a-input placeholder="Last Name" v-model="workingItem.lastName" :maxLengh="255"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :span="8">
                <a-form-model-item label="City/Province" prop="city" :rules="[{required: true,message: 'This field is required'}]">
                  <a-select :filter-option="false" @change="handleCityChange" @search="handleCitySearch" placeholder="Select City/Province" show-search v-model="workingItem.city">
                    <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                    <a-select-option v-for="(item,index) in cityDataSource" :key="index" :value="item.code">
                      {{item.name}}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :span="8">
                <a-form-model-item label="District" prop="district" :rules="[{required: true,message: 'This field is required'}]">
                  <a-select :filter-option="false" @change="handleDistrictChange" @search="handleDistrictSearch" :disabled="!workingItem.city" placeholder="Select District" show-search v-model="workingItem.district">
                    <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                    <a-select-option v-for="(item,index) in districtDataSource" :key="index" :value="item.code">
                      {{item.name}}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :span="8">
                <a-form-model-item label="Commune" prop="commune" :rules="[{required: true,message: 'This field is required'}]">
                  <a-select :filter-option="false" @search="handleCommuneSearch" :disabled="!workingItem.district" placeholder="Select Commune" show-search v-model="workingItem.commune">
                    <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                    <a-select-option v-for="(item,index) in communeDataSource" :key="index" :value="item.code">
                      {{item.name}}
                    </a-select-option>
                  </a-select>
                </a-form-model-item>
              </a-col>
              <a-col :span="24">
                <a-form-model-item label="Address Details" prop="addressDetails" :rules="[{required: true,message: 'This field is required'}]">
                  <a-input placeholder="Address Details" v-model="workingItem.addressDetails"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <a-form-model-item label="Phone" prop="phoneNumber" :rules="[{required: true,message: 'This field is required'},{pattern: '^(\\+\\d{1,3}[- ]?)?\\d{10,11}$', message: 'The input is not valid phone number!'}]">
                  <a-input placeholder="Address Details" v-model="workingItem.phoneNumber"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <a-form-model-item label="Email" prop="email" :rules="[{required: true,message: 'This field is required'},{type:'email',message:'The input is not valid E-mail!'}]">
                  <a-input placeholder="Address Details" v-model="workingItem.email"></a-input>
                </a-form-model-item>
              </a-col>
              <a-col :span="24">
                <a-form-model-item label="Note" prop="email">
                  <a-input :maxLength="500" :rows="5" type="textarea" placeholder="Note" v-model="workingItem.note"></a-input>
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-form-model>
        </a-col>
        <a-col :span="10">
          <div class="checkout__order">
            <h5>Your order</h5>
            <div class="checkout__order__product">
              <a-row>
                <a-col :span="12"><b>Product</b></a-col>
                <a-col :span="4" style="text-align: center"><b>Quantity</b></a-col>
                <a-col :span="8" style="text-align: right"><b>Total</b></a-col>
              </a-row>
              <a-row v-for="(item,index) in listCartItem" :key="index">
                <a-col :span="12">{{item.productName}}</a-col>
                <a-col :span="4" style="text-align: center">{{item.quantity}}</a-col>
                <a-col :span="8" style="text-align: right">{{ CurrencyFormat(item.quantity * (item.salePrice ? item.salePrice : item.price)) }}</a-col>
              </a-row>
            </div>
            <div class="checkout__order__total">
              <ul>
                <li>Subtotal <span>{{CurrencyFormat(getCartTotal())}}</span></li>
                <li>Total <span>{{CurrencyFormat(getCartTotal())}}</span></li>
              </ul>
            </div>
            <button type="button" class="site-btn" @click="handlePlaceOrder">Place oder</button>
          </div>
        </a-col>
      </a-row>
    </div>
  </section>
  <!-- Checkout Section End -->
</template>

<script>
import {getListCity,getListDistrict,getListCommune} from "../../services/address"
import {createOrder} from "../../services/order"
import {mapGetters,mapActions} from "vuex"
import CurrencyFormat from "../../utils/CurrencyFormat";
export default {
  data() {
    return {
      workingItem: {},
      cityDataSource: [],
      districtDataSource: [],
      communeDataSource: [],
      listCartItem: [],
      queryParams: {
        name: undefined,
        code: undefined,
        provinceCode: undefined,
        districtCode: undefined,
        pageSize: 999999999
      }
    }
  },
  async created () {
    await Promise.all([this.getListCartData(),this.loadListCity()])
  },
  methods: {
    CurrencyFormat,
    ...mapGetters('cart',['getCart']),
    ...mapActions('cart',['getListCart']),
    async loadListCity () {
      const res = await getListCity(this.queryParams)
      this.cityDataSource = res.data
    },
    async loadListDistrict () {
      const res = await getListDistrict(this.queryParams)
      this.districtDataSource = res.data
    },
    async loadListCommune () {
      const res = await getListCommune(this.queryParams)
      this.communeDataSource = res.data
    },
    async handleCitySearch (value) {
      this.queryParams.name = value
      await this.loadListCity()
      this.clearQueryParam()
    },
    async handleDistrictSearch (value) {
      this.queryParams.name = value
      await this.loadListDistrict()
      this.clearQueryParam()
    },
    async handleCommuneSearch (value) {
      this.queryParams.name = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    async handleCityChange (value) {
      this.queryParams.provinceCode = value
      await Promise.all([this.loadListCommune(),this.loadListDistrict()])
      this.clearQueryParam()
    },
    async handleDistrictChange (value) {
      this.queryParams.districtCode = value
      await this.loadListCommune()
      this.clearQueryParam()
    },
    clearQueryParam () {
      this.queryParams = {
        ...this.queryParams,
        name: undefined,
        code: undefined,
        pageSize: 999999999
      }
    },
    async getListCartData(){
      await this.getListCart()
      this.listCartItem = JSON.parse(JSON.stringify(this.getCart()))
    },
    getCartTotal(){
      return this.listCartItem.reduce((pre,curr) => {
        return pre + (curr.salePrice ? curr.salePrice * curr.quantity : curr.price * curr.quantity)
      },0) || 0
    },
    async handlePlaceOrder () {
      this.$refs.form.validate(async valid => {
        if(!valid) return
        const params = {
          ...this.workingItem,
          address: `${this.workingItem.city}-${this.workingItem.district}-${this.workingItem.commune}`,
          paymentMethod: 'cod',
          carts: this.listCartItem.map(x => {return {
            variantsId: x.variantsId,
            quantity: x.quantity,
            size: x.size
          }})
        }
        await createOrder(params).then(resp => {
          this.$store.dispatch('cart/clearCart')
          this.$notification.success({message: 'Successful'})
          this.$router.push({path: "/"})
        }).catch(err => {
          this.$notification.error({message: err.response.data.message || 'Fail'})
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
/*---------------------
  Checkout
-----------------------*/
.checkout {
  padding-top: 80px;
  padding-bottom: 70px;
}

.coupon__link {
  font-size: 14px;
  color: #444444;
  padding: 14px 0;
  background: #f5f5f5;
  border-top: 2px solid $primary-color;
  text-align: center;
  margin-bottom: 50px;

a {
  font-size: 14px;
  color: #444444;
}

span {
  font-size: 14px;
  color: $primary-color;
}
}

.checkout__form {

h5 {
  color: $heading-color;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.checkout__form__input {

p {
  color: #444444;
  font-weight: 500;
  margin-bottom: 10px;

span {
  color: $primary-color;
}
}

input {
  height: 50px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin-bottom: 25px;
  font-size: 14px;
  padding-left: 20px;
  color: #666666;

&::placeholder {
   color: #666666;
 }
}
}

.checkout__form__checkbox {
  margin-bottom: 20px;

label {
  display: block;
  padding-left: 24px;
  font-size: 14px;
  color: #444444;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;

input {
  position: absolute;
  visibility: hidden;

&:checked {

&~.checkmark {
   border-color: $primary-color;

&:after {
   border-color: $primary-color;
   opacity: 1;
 }
}
}
}

.checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  height: 10px;
  width: 10px;
  border: 1px solid #444444;
  border-radius: 2px;

&:after {
   position: absolute;
   left: 0px;
   top: -2px;
   width: 11px;
   height: 5px;
   border: solid $white-color;
   border-width: 1.5px 1.5px 0px 0px;
   -webkit-transform: rotate(127deg);
   -ms-transform: rotate(127deg);
   transform: rotate(127deg);
   opacity: 0;
   content: "";
 }
}
}

p {
  margin-bottom: 0;
}
}
}

.checkout__order {
  background: #f5f5f5;
  padding: 30px;

h5 {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 18px;
}

.site-btn {
  width: 100%;
}
}

.checkout__order__product {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 22px;

ul {

li {
  list-style: none;
  font-size: 14px;
  color: #444444;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 14px;
  line-height: 24px;

&:last-child {
   margin-bottom: 0;
 }

span {
  font-size: 14px;
  color: $heading-color;
  font-weight: 600;
  float: right;
}

.top__text {
  font-size: 16px;
  color: $heading-color;
  font-weight: 600;
  float: left;
}

.top__text__right {
  font-size: 16px;
  color: $heading-color;
  font-weight: 600;
  float: right;
}
}
}
}

.checkout__order__total {
  padding-top: 12px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px;
  margin-bottom: 25px;

ul {

li {
  list-style: none;
  font-size: 16px;
  color: $heading-color;
  font-weight: 600;
  overflow: hidden;
  line-height: 40px;

span {
  color: $primary-color;
  float: right;
}
}
}
}

.checkout__order__widget {
  padding-bottom: 10px;

label {
  display: block;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 500;
  color: $heading-color;
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;

input {
  position: absolute;
  visibility: hidden;

&:checked {

& ~ .checkmark {
    border-color: $primary-color;

&:after {
   border-color: $primary-color;
   opacity: 1;
 }
}
}
}

.checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  height: 10px;
  width: 10px;
  border: 1px solid #444444;
  border-radius: 2px;

&:after {
   position: absolute;
   left: 0px;
   top: -2px;
   width: 11px;
   height: 5px;
   border: solid $white-color;
   border-width: 1.5px 1.5px 0px 0px;
   -webkit-transform: rotate(127deg);
   -ms-transform: rotate(127deg);
   transform: rotate(127deg);
   opacity: 0;
   content: "";
 }
}
}
}
</style>