<template>
  <a-spin :spinning="loading" size="large">
    <section class="shop-cart spad spin-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shop__cart__table">
              <table>
                <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in listCartItem" :key="index">
                  <td class="cart__product__item">
                    <img class="cart-item-img" :src="`${$config.prefixImagesApi}/${item.thumbnail}`" alt="">
                    <div class="cart__product__item__title">
                      <h6>{{item.productName}}</h6>
                      <p>{{item.variantsName}}</p>
                      <p>Size:{{item.size}}</p>
                    </div>
                  </td>
                  <td class="cart__price" v-if="!item.salePrice">{{CurrencyFormat(item.price)}}</td>
                  <td v-else><span style="text-decoration: line-through;color: black;">{{CurrencyFormat(item.price)}}</span>{{CurrencyFormat(item.salePrice)}}</td>
                  <td class="cart__quantity">
                    <div class="pro-qty">
                      <input @change="onUpdateQuantity(item)" min="1" type="number" v-model="item.quantity">
                    </div>
                  </td>
                  <td class="cart__total">{{getTotalPriceItem(item.price,item.salePrice,item.quantity)}}</td>
                  <td><a @click.prevent="onRemoveCartItem(item)" style="color: red" href="#">Remove</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-4 offset-lg-2">
            <div class="cart__total__procced">
              <h6>Cart total</h6>
              <ul>
                <li>Price <span>{{CurrencyFormat(getPriceBeforeSale())}}</span></li>
                <li>Sale <span>0</span></li>
                <li>Total <span>{{CurrencyFormat(getCartTotal())}}</span></li>
              </ul>
              <nuxt-link to="/checkout"><a href="#" class="primary-btn">Proceed to checkout</a></nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a-spin>
</template>

<script>

import {mapGetters} from "vuex"
import {mapActions} from "vuex"
import CurrencyFormat from "../../utils/CurrencyFormat"
import {debounce} from "lodash"
export default {
  name:'shopCart',
  data() {
    return{
      loading:false,
      listCartItem:[]
    }
  },
  methods:{
    CurrencyFormat,
    ...mapGetters({
      getCart:'cart/getCart'
    }),
    ...mapActions({
      getListCart:'cart/getListCart',
      updateQuantity:'cart/updateQuantity',
      removeFromCart:'cart/removeFromCart'
    }),
    getTotalPriceItem(price,salePrice,qty){
      return CurrencyFormat(salePrice ? salePrice * qty : price * qty)
    },
    getCartTotal(){
      return this.listCartItem.reduce((pre,curr) => {
        return pre + (curr.salePrice ? curr.salePrice * curr.quantity : curr.price * curr.quantity)
      },0) || 0
    },
    getPriceBeforeSale(){
      return this.listCartItem.reduce((pre,curr) => pre + curr.price * curr.quantity,0) || 0
    },
    async getListCartItem(){
      await this.getListCart()
      this.listCartItem = JSON.parse(JSON.stringify(this.getCart()))
    },
    onUpdateQuantity: debounce(function (item){
      this.updateQuantity(item).then(()=>{
        this.$notification.success({
          message:'update cart successful'    
        })
      }).catch(()=>{
        this.$notification.error({
          message:'update failed'
        })
      })
    },1000),
    onRemoveCartItem(item){
      const payload = {
        variantsId: item.variantsId,
        size: item.size
      }

      this.removeFromCart(payload).then(()=>{
        const index = this.lodash.findIndex(this.listCartItem,c => c.variantsId === payload.variantsId && c.size === payload.size)
        if(index >= 0){
          this.listCartItem.splice(index,1)
        }
        this.$notification.success({
          message:'remove item successful'
        })
      }).catch(()=>{
        this.$notification.error({
          message:'remove failed'
        })
      })
    }
  },
  created(){
    this.getListCartItem()
  }
}
</script>

<style lang="scss" scoped>
.cart-item-img{
  height: 100px;
}
.shop-cart {
  padding-top: 70px;
  padding-bottom: 90px;
}

.shop__cart__table {
  margin-bottom: 30px;

  table {
    width: 100%;
  }

  thead {
    border-bottom: 1px solid #f2f2f2;

    th {
      font-size: 18px;
      color: $heading-color;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
  }

  tbody {

    tr {
      border-bottom: 1px solid #f2f2f2;

      td {
        padding: 30px 0;
      }

      .cart__product__item {
        overflow: hidden;
        width: 585px;

        img {
          float: left;
          margin-right: 25px;
        }

        .cart__product__item__title {
          overflow: hidden;
          padding-top: 23px;

          h6 {
            color: $heading-color;
            font-weight: 600;
          }

          .rating {

            i {
              font-size: 10px;
              color: #e3c01c;
              margin-right: -4px;
            }
          }
        }
      }

      .cart__price {
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        width: 190px;
      }

      .cart__quantity {
        width: 190px;

        .pro-qty {
          border: none;
          padding: 0;
          width: 110px;
          border-radius: 0;

          input {
            color: #444444;
            width: 60px;
            padding: 5px 0 5px 10px;
          }

          .qtybtn {
            font-size: 16px;
            color: #444444;
          }
        }
      }

      .cart__total {
        font-size: 16px;
        color: $primary-color;
        font-weight: 600;
        width: 150px;
      }

      .cart__close {
        text-align: right;

        span {
          height: 45px;
          width: 45px;
          background: #f2f2f2;
          border-radius: 50%;
          font-size: 18px;
          color: $heading-color;
          line-height: 44px;
          text-align: center;
          display: inline-block;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

.cart__btn {
  margin-bottom: 50px;

  &.update__btn {
    text-align: right;
  }

  a {
    font-size: 14px;
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 30px 12px;
    background: #f5f5f5;

    span {
      color: $primary-color;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.discount__content {

  h6 {
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 30px;
  }

  form {
    position: relative;
    width: 370px;
    display: inline-block;

    input {
      height: 52px;
      width: 100%;
      border: 1px solid #444444;
      border-radius: 50px;
      padding-left: 30px;
      padding-right: 115px;
      font-size: 14px;
      color: #444444;

      &::placeholder {
        color: #444444;
      }
    }

    button {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }
}

.cart__total__procced {
  background: #f5f5f5;
  padding: 40px;

  h6 {
    color: $heading-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 25px;

    li {
      list-style: none;
      font-size: 16px;
      color: $heading-color;
      font-weight: 600;
      overflow: hidden;
      line-height: 40px;

      span {
        color: $primary-color;
        float: right;
      }
    }
  }

  .primary-btn {
    display: block;
    border-radius: 50px;
    text-align: center;
    padding: 12px 0 10px;
  }
}
</style>