<template>
  <a-row style="padding-top: 30px" type="flex" justify="center">
    <a-col :span="18">
      <a-card :bordered="false">
        <a-table class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination">
          <template slot="price" slot-scope="text, record">
            {{CurrencyFormat(record.price)}}
          </template>
          <template slot="salePrice" slot-scope="text, record">
            {{record.salePrice ? CurrencyFormat(record.salePrice) : ''}}
          </template>
          <template slot="images" slot-scope="text, record">
            <img style="height: 50px" :src="`${$config.prefixImagesApi}/${record.imgs[0]}`" alt="">
          </template>
          <template slot="action" slot-scope="text, record">
            <a-button @click="removeFavorite(record.id)" class="heart-icon" shape="circle" icon="heart"></a-button>
          </template>
        </a-table>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
import CurrencyFormat from "../../utils/CurrencyFormat"
import {getAllInIds} from "../../services/product"
import {mapGetters} from "vuex"
export default {
  data() {
    return {
      loading: false,
      columns: [
        {
          title: 'Product Name',
          dataIndex: 'name',
        },
        {
          title: 'Price',
          scopedSlots: { customRender: 'price' },
        },
        {
          title: 'Sale Price',
          scopedSlots: { customRender: 'salePrice' },
        },
        {
          title: 'Image',
          scopedSlots: { customRender: 'images' },
        },
        {
          title: '',
          scopedSlots: { customRender: 'action' },
        }
      ],
      data: []
    }
  },
  methods:{
    CurrencyFormat,
    ...mapGetters('cart',['getFavorite']),
    loadListProduct(){
      this.loading = true;
      const payload = this.getFavorite()
      getAllInIds({ids: payload?.join(',')}).then((resp) => {
        this.loading = false
        this.data = resp
      })
    },
    removeFavorite (id) {
      this.$store.dispatch('cart/removeFavorite',id)
      this.loadListProduct()
    }
  },
  async created() {
    await this.loadListProduct()
  }
}
</script>

<style lang="scss" scoped>
::v-deep .a-table .ant-btn{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i{
    color: white;
  }
}

::v-deep .heart-icon.ant-btn i {
  color: red;
}
</style>