<template>
  <a-card :bordered="false">
    <a-row :gutter="16">
      <a-col :span="6">
        <a-list item-layout="horizontal" :data-source="orderType">
          <a-list-item :class="['tab-type',selectedType === index ? 'type-active':'']" @click="onChangeType(index)" slot="renderItem" slot-scope="item, index">
            <span>{{item.title}}</span>
          </a-list-item>
        </a-list>
      </a-col>
      <a-col :span="18" style="height: 50vh">
        <a-card v-if="data && data.length > 0" :bordered="false" :loading="loading">
          <TableHeader
              :columns="columns"
              placeholder="Search by Name"
              :query-params="queryParams"
              @search="handleSearch"
              @clearFilters="clearFilters"
          >
          </TableHeader>
          <a-table :scroll="{ x: 1500 }" class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination" @change="handleTableChange">
            <template slot="name" slot-scope="text, record">
              {{[record.firstName,record.lastName].join(' ')}}
            </template>
            <template slot="totalPrice" slot-scope="text, record">
              {{record.totalPrice ? CurrencyFormat(record.totalPrice) : ''}}
            </template>
            <template slot="salePrice" slot-scope="text, record">
              {{record.salePrice ? CurrencyFormat(record.salePrice) : ''}}
            </template>
            <template slot="status" slot-scope="text, record">
              <a-badge :color="getColorStatus(record.status)" :text="record.status"></a-badge>
            </template>
          </a-table>
        </a-card>
        <a-empty description="You haven't placed any orders yet." v-else />
      </a-col>
    </a-row>
  </a-card>
</template>

<script>
import {getMyOrder} from "../../services/order"
import CurrencyFormat from "../../utils/CurrencyFormat"
import {OrderStatus} from "../../constants/Order"
import TableHeader from "../../components/TableHeader"
import FilterCheckbox from "../../components/FilterCheckbox"
export default {
  components:{TableHeader, FilterCheckbox},
  data() {
    return {
      loading: true,
      selectedType: 0,
      orderType: [
        {
          title: 'Pending Order',
          value: 'PENDING',
        },
        {
          title: 'Delivering',
          value: 'DELIVERY',
        },
        {
          title: 'Canceled Order',
          value: 'CANCELED',
        }
      ],
      columns: [
        {
          title: 'Order ID',
          dataIndex: 'id',
          fixed: 'left',
        },
        {
          title: 'Customer Name',
          dataIndex: 'firstName',
          scopedSlots: { customRender: 'name' },
          sorter: (a,b) => [a.firstName,a.lastName].join(' ').localeCompare([b.firstName,b.lastName].join(' '))
        },
        {
          title: 'Email',
          dataIndex: 'email'
        },
        {
          title: 'Phone',
          dataIndex: 'phoneNumber'
        },
        {
          title: 'Total Price',
          dataIndex: 'totalPrice',
          scopedSlots: { customRender: 'totalPrice' },
          sorter: (a,b) => a.totalPrice - b.totalPrice
        },
        {
          title: 'Sale Price',
          dataIndex: 'salePrice',
          scopedSlots: { customRender: 'salePrice' },
          sorter: (a,b) => a.salePrice - b.salePrice
        },
        {
          title: 'Address',
          dataIndex: 'addressName'
        },
        {
          title: 'Status',
          scopedSlots: { customRender: 'status' },
        }
      ],
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
        showQuickJumper: true,
      },
      queryParams: {
        statuses: [],
        keywords: undefined
      },
      lstOrderStatus: [
        {
          label: 'Pending',
          value: 'PENDING'
        },
        {
          label: 'Ready To Pick',
          value: 'READY_TO_PICK'
        },
        {
          label: 'Picking',
          value: 'PICKING'
        },
        {
          label: 'Canceled',
          value: 'CANCELED'
        },
        {
          label: 'Picked',
          value: 'PICKED'
        },
        {
          label: 'Storing',
          value: 'STORING'
        },
        {
          label: 'Delivering',
          value: 'DELIVERING'
        },
        {
          label: 'Delivered',
          value: 'DELIVERED'
        }
      ]
    }
  },
  methods:{
    CurrencyFormat,
    loadListOrder(payload){
      this.loading = true;
      const value = this.orderType[this.selectedType].value === 'DELIVERY' ?
          this.lstOrderStatus.filter(x => x.value !== 'PENDING' && x.value !== 'CANCELED').map(x => x.value).join(',') :
          this.orderType[this.selectedType].value

      getMyOrder({statuses: value}).then((resp) => {
        this.loading = false
        this.data = resp.data
        this.pagination.current = resp['current_page']
        this.pagination.total = resp['total_item']
        this.pagination.pageSize = resp['size']
      })
    },
    handleTableChange(pagination, filters, sorter) {
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.loadListOrder({
        results: pagination.pageSize,
        page: pagination.current,
        orderBy: sorter.field,
        orderDirection: sorter.order === 'ascend' ? 'asc' : 'desc',
        ...filters,
      });
    },
    handleSearch (keyword) {
      this.queryParams.keywords = keyword
      this.loadListOrder({
        keywords: keyword
      })
    },
    clearFilters () {
      this.queryParams.statuses = []
      this.queryParams.keywords = undefined
      this.loadListOrder()
    },
    handleOk () {
      this.loadListOrder({...this.queryParams,statuses: this.queryParams.statuses.join(',')})
    },
    getColorStatus (status){
      return OrderStatus[status]
    },
    onChangeType(index){
      this.selectedType = index
      this.loadListOrder()
    }
  },
  created() {
    this.loadListOrder()
  }
}
</script>

<style scoped>
::v-deep .tab-type{
  padding-left: 10px;
  font-size: 18px;
  cursor: pointer;
}
::v-deep .type-active{
  background: #faf7f7;
  color: black;
  font-weight: bold;
}
</style>