<template>
  <a-card :loading="loading" :bordered="false">
    <a-row :gutter="[24,40]" type="flex" justify="center">
      <a-col :span="8"><a-input-search placeholder="Input order Id" enter-button @search="onSearch" /></a-col>
    </a-row>
    <a-row :gutter="[24,40]" type="flex" justify="center">
      <a-col v-if="order.id" :span="18">
        <a-descriptions title="Customer Info">
          <a-descriptions-item label="Name">
            {{ [order.firstName,order.lastName].join(' ') }}
          </a-descriptions-item>
          <a-descriptions-item label="Address">
            {{ [this.commune,this.district,this.city].join('-').includes('--') ? order.address : [this.commune,this.district,this.city].join('-') }}
          </a-descriptions-item>
          <a-descriptions-item label="Address Details">
            {{ order?.addressDetails || '--' }}
          </a-descriptions-item>
          <a-descriptions-item label="Email">
            {{ order.email }}
          </a-descriptions-item>
          <a-descriptions-item label="Phone Number">
            {{ order.phoneNumber }}
          </a-descriptions-item>
          <a-descriptions-item label="Order Creator">
            {{ order.createBy }}
          </a-descriptions-item>
        </a-descriptions>
        <a-descriptions title="Order Info">
          <a-descriptions-item label="Total Price">
            {{ CurrencyFormat(order.totalPrice) }}
          </a-descriptions-item>
          <a-descriptions-item label="Discounted Price">
            {{ CurrencyFormat(order.salePrice) }}
          </a-descriptions-item>
          <a-descriptions-item label="Delivery Cost">
            {{ order.deliveryCost > 0 ? CurrencyFormat(order.deliveryCost) : 'Free' }}
          </a-descriptions-item>
          <a-descriptions-item label="Created Date">
            {{ $moment(order.createAt).format('DD/MM/YYYY HH:mm:ss') }}
          </a-descriptions-item>
          <a-descriptions-item :span="2" label="Status">
            <a-badge :color="getColorStatus(order.status)" :text="order.status"></a-badge>
          </a-descriptions-item>
          <a-descriptions-item :span="3" label="Note">
            {{ order.note }}
          </a-descriptions-item>
        </a-descriptions>
        <a-table
          :pagination="false"
          :data-source="variantDataSource"
          :columns="columns"
        >
          <template slot="product" slot-scope="text, record">
            <b>{{record.productName}}</b>
            <p>{{record.variantName}}</p>
            <p>Size: {{record.size}}</p>
          </template>
          <template slot="originalPrice" slot-scope="text, record">
            <b>{{ CurrencyFormat(record.price) }}</b>
          </template>
          <template slot="price" slot-scope="text, record">
            <b>{{ CurrencyFormat(record.price * record.quantity) }}</b>
          </template>
          <template slot="thumbnail" slot-scope="text, record">
            <img :style="{height: '100px'}" :src="`${$config.prefixImagesApi}/${record.thumbnail}`" alt="">
          </template>
        </a-table>
      </a-col>
      <a-col v-else :span="18">
        <a-empty
          :image="`${require('~/assets/img/order_empty.png')}`"
          :imageStyle="{
            height: '200px'
          }"
          description="Not Found"
        ></a-empty>
      </a-col>
    </a-row>
  </a-card>
</template>

<script>
import {getOrderById} from "../../../services/order"
import {getListCity,getListCommune,getListDistrict} from "../../../services/address"
import CurrencyFormat from "../../../utils/CurrencyFormat"
import {OrderStatus} from "../../../constants/Order";
export default {
  data() {
    return {
      loading: false,
      order: {},
      city: '',
      district: '',
      commune: '',
      variantDataSource: [],
      columns: [
        {
          title: 'Product',
          scopedSlots: { customRender: 'product' },
        },
        {
          title: 'Thumbnail',
          scopedSlots: { customRender: 'thumbnail' },
          align: 'center'
        },
        {
          title: 'Quantity',
          dataIndex: 'quantity',
          align: 'center'
        },
        {
          title: 'Price',
          scopedSlots: { customRender: 'originalPrice' },
        },
        {
          title: 'TotalPrice',
          scopedSlots: { customRender: 'price' },
        }
      ]
    }
  },
  methods: {
    CurrencyFormat,
    async onSearch(value) {
      if(!(value && value.trim().length > 0)) return
      this.loading = true
      this.order = await getOrderById(value)
      this.variantDataSource = this.order.orderItems
      await Promise.all([
          this.getCityByCode(this.order.address),
          this.getDistrictByCode(this.order.address),
          this.getCommuneByCode(this.order.address)
      ]).finally(() => this.loading = false)
    },
    async getCityByCode(code){
      const res = (await getListCity({code: code}))?.data
      if(res && res.length > 0){
        this.city = res[0].name
      }
    },
    async getDistrictByCode(code){
      const res = (await getListDistrict({code: code}))?.data
      if(res && res.length > 0){
        this.city = res[0].name
      }
    },
    async getCommuneByCode(code){
      const res = (await getListCommune({code: code}))?.data
      if(res && res.length > 0){
        this.city = res[0].name
      }
    },
    getColorStatus (status){
      return OrderStatus[status]
    }
  },
}
</script>

<style scoped>

</style>