<template>
  <a-row :gutter="16">
    <a-col :span="8">
      <a-card :hoverable="true" class="revenue-card">
        <div style="display: flex; justify-content: space-between">
          <b>Day Revenue</b>
          <a-date-picker @change="onDayRevenueChange" v-model="dayRevenueParam"></a-date-picker>
        </div>
        <p>{{ CurrencyFormat(dayRevenue) }}</p>
      </a-card>
    </a-col>
    <a-col :span="8">
      <a-card :hoverable="true" class="revenue-card">
        <div style="display: flex; justify-content: space-between">
          <b>Month Revenue</b>
          <a-month-picker @change="onMonthRevenueChange" placeholder="Select Month" v-model="monthRevenueParam"></a-month-picker>
        </div>
        <p>{{ CurrencyFormat(monthRevenue) }}</p>
      </a-card>
    </a-col>
    <a-col :span="8">
      <a-card :hoverable="true" class="revenue-card">
        <div style="display: flex;justify-content: space-between">
          <b>Year Revenue</b>
          <a-select @change="onYearRevenueChange" style="width: 60%" v-model="yearRevenueParam">
            <a-icon slot="suffixIcon" type="caret-down"></a-icon>
            <a-select-option v-for="i in listYear" :key="i" :value="i">
              {{i}}
            </a-select-option>
          </a-select>
        </div>
        <p>{{ CurrencyFormat(yearRevenue) }}</p>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
import CurrencyFormat from "../../utils/CurrencyFormat"
import {getRevenue} from "../../services/dashboard"
export default {
  layout: 'admin',
  data() {
    return {
      dayRevenue: 0,
      monthRevenue: 0,
      yearRevenue: 0,
      dayRevenueParam: this.$moment(),
      monthRevenueParam: this.$moment(),
      yearRevenueParam: this.$moment().year()
    }
  },
  async created() {
    await Promise.all([
        this.getDayRevenue(),
        this.getMonthRevenue(),
        this.getYearRevenue()
    ])
  },
  computed: {
    listYear(){
      return Array.from({ length: this.$moment().year() - 2010 + 1 }, (_, index) => index + 2010);
    }
  },
  methods: {
    CurrencyFormat,
    async getDayRevenue(){
      const params = {
        day: this.monthRevenueParam?.date() || this.$moment().date(),
        month: this.monthRevenueParam?.month() + 1 || this.$moment().month() + 1,
        year: this.monthRevenueParam?.year() || this.$moment().year(),
      }
      this.dayRevenue = await getRevenue(params)
    },
    async getMonthRevenue(){
      const params = {
        month: this.monthRevenueParam?.month() + 1 || this.$moment().month() + 1,
        year: this.monthRevenueParam?.year() || this.$moment().year(),
      }
      this.monthRevenue = await getRevenue(params)
    },
    async getYearRevenue(){
      this.yearRevenue = await getRevenue({year: this.yearRevenueParam})
    },
    onDayRevenueChange(){
      this.getDayRevenue()
    },
    onMonthRevenueChange(){
      this.getMonthRevenue()
    },
    onYearRevenueChange(){
      this.getYearRevenue()
    }
  },
}
</script>

<style scoped>
::v-deep .revenue-card{
  border-radius: 7px;
}
</style>