<template>
  <a-card title="List Product">
    <TableHeader
        :columns="columns"
        placeholder="Search by Name"
        :query-params="queryParams"
        @search="handleSearch"
        @clearFilters="clearFilters"
    >
      <template #headerRightSideBar>
        <a-button @click="handleAddAccount" type="primary">Add Account</a-button>
      </template>
    </TableHeader>
    <a-table class="a-table" :loading="loading" rowKey="id" :columns="columns" :data-source="data" :pagination="pagination" @change="handleTableChange">
      <template slot="name" slot-scope="text,record">
        {{ [record.firstName,record.lastName].join(' ') }}
      </template>
      <template slot="birthday" slot-scope="text,record">
        {{ $moment(record.birthday).format('DD/MM/YYYY') }}
      </template>
      <template slot="status" slot-scope="text, record">
        {{ record.locked ? 'Locked' : 'Active' }}
      </template>
      <template slot="actions" slot-scope="text, record">
        <a-button @click="onEditClicked(record.id)" style="background:#35d230;" shape="circle" icon="edit" />
        <a-popconfirm
            title="Are you sure lock this account?"
            ok-text="Yes"
            cancel-text="No"
            @confirm="confirmDelete(record.id)"
        >
          <a-button type="danger" shape="circle" icon="lock" />
        </a-popconfirm>
      </template>
    </a-table>
    <ModalAddEditAccount @ok="handleOk" ref="modalAddEdit"/>
  </a-card>
</template>

<script>
import {getListAccount,lockedAccount} from "../../../services/account"
import TableHeader from "../../../components/TableHeader"
import ModalAddEditAccount from "../../../components/admin/account/ModalAddEditAccount"

export default {
  layout: 'admin',
  components:{TableHeader,ModalAddEditAccount},
  data() {
    return {
      loading: false,
      columns: [
        {
          title: 'Name',
          scopedSlots: { customRender: 'name' },
        },
        {
          title: 'Birthday',
          scopedSlots: { customRender: 'birthday' },
        },
        {
          title: 'Email',
          dataIndex: 'email'
        },
        {
          title: 'Address',
          dataIndex: 'address'
        },
        {
          title: 'Phone',
          dataIndex: 'phone'
        },
        {
          title: 'Status',
          scopedSlots: { customRender: 'status' },
        },
        {
          title: 'Action',
          scopedSlots: { customRender: 'actions' },
          width: 150
        },
      ],
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
        showQuickJumper: true,
      },
      queryParams: {
        statuses: [],
        keywords: undefined
      }
    }
  },
  methods:{
    loadListAccount(payload){
      this.loading = true;
      getListAccount(payload).then((resp) => {
        this.loading = false
        this.data = resp.data
        this.pagination.current = resp['current_page']
        this.pagination.total = resp['total_item']
        this.pagination.pageSize = resp['size']
      })
    },
    handleTableChange(pagination, filters, sorter) {
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.loadListAccount({
        results: pagination.pageSize,
        page: pagination.current,
        sortField: sorter.field,
        sortOrder: sorter.order,
        ...filters,
      });
    },
    onDetailClicked(id){

    },
    onEditClicked(id){
      this.$refs.modalAddEdit.show(id)
    },
    handleAddAccount(){
      this.$refs.modalAddEdit.show()
    },
    confirmDelete(id){
      lockedAccount(id).then(()=>{
        this.$notification.success({
          message: 'Account Locked'
        })
        this.handleOk()
      }).catch(()=>{
        this.$notification.error({
          message: 'Failed'
        })
      })
    },
    handleSearch (keyword) {
      this.queryParams.keywords = keyword
      this.loadListAccount({
        name: keyword
      })
    },
    clearFilters () {
      this.queryParams.keywords = undefined
      this.loadListAccount()
    },
    handleOk () {
      this.loadListAccount()
    }
  },
  created() {
    this.loadListAccount()
  }
}
</script>

<style lang="scss" scoped>
::v-deep .a-table .ant-btn{
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  i{
    color: white;
  }
}
</style>