<template>
  <a-modal
    width="900px"
    :title="id ? 'Update Product':'Create Product'"
    :visible="visible"
    @cancel="hide"
    @ok="submit"
    ok-text="Save"
    :confirm-loading="loading"
  >
    <a-form-model :model="workingItem" ref="form">
      <a-card title="General Information">
        <a-row :gutter="12">
          <a-col :span="12">
            <a-form-model-item label="Product Name" prop="name" :rules="[{required:true,message:'This field is required'}]">
              <a-input allowClear :maxLength="255" v-model="workingItem.name" placeholder="Product Name"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Price" prop="price" :rules="[{required:true,message:'This field is required'}]">
              <a-input type="number" :maxLength="9" suffix="VND" v-model="workingItem.price" placeholder="Price"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Sale Price" prop="salePrice">
              <a-input type="number" :maxLength="9" suffix="VND" v-model="workingItem.salePrice" placeholder="Sale Price"></a-input>
            </a-form-model-item>
          </a-col>
          <a-col :span="12">
            <a-form-model-item label="Sale To Date Time" prop="saleTo">
              <a-date-picker
                :disabled-date="disabledDate"
                style="width: 100%;"
                :disabled="!workingItem.salePrice"
                show-time
                placeholder="Select Sale To Date Time" />
            </a-form-model-item>
          </a-col>
          <a-col :span="24">
            <a-form-model-item label="Categories" prop="categories" :rules="[{required:true,message:'This field is required'}]">
              <a-tree-select
                  allow-clear
                  tree-checkable
                  v-model="workingItem.categories"
                  style="width: 100%"
                  :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                  :tree-data="treeData"
                  treeCheckStrictly
                  placeholder="Please select categories"
              >
              </a-tree-select>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-card>
      <br>
      <a-card title="Variant Information">
        <a-tabs v-model="activeKey" type="editable-card" @edit="onEdit">
          <a-tab-pane :forceRender="true" v-for="pane in panes" :key="pane.key" :tab="pane.title" :closable="pane.closable">
            <VariantTab :ref="pane.key" @onSaved="handleVariantSave" :sizes="sizes" :tabKey="pane.key"/>
          </a-tab-pane>
        </a-tabs>
      </a-card>
    </a-form-model>
  </a-modal>
</template>

<script>
import VariantTab from "./VariantTab"
import {getListSize} from "../../../services/size"
import {getListCategory} from "../../../services/category"
import {createProduct,getProductById,updateProduct} from "../../../services/admin/product"
const defaultPanes = [{ title: 'Variant 1', key: 'v1', closable: false }]
export default {
  components:{VariantTab},
  data() {
    return {
      loading: true,
      visible: false,
      id: undefined,
      workingItem: {
        variants:[],
        categories: []
      },
      panes: [...defaultPanes],
      activeKey: defaultPanes[0].key,
      newTabIndex: 1,
      sizes: [],
      treeData: [],
      refs: []
    }
  },
  methods: {
    async submit(){
      this.$refs.form.validate(async valid => {
        if(!valid){
          this.$message.warn('Validate failed')
          return
        }
        const editableTabs = this.panes.filter(x => this.$refs[x.key]?.at(0)?.editable)
        if(editableTabs && editableTabs.length > 0){
          this.$message.warn(`${editableTabs[0].title} is not saved`)
          return;
        }
        const params = {
          ...this.workingItem,
          categoryIds: this.workingItem.categories.map(x => x.value)
        }
        if(this.id){
          await updateProduct(this.id,params).then(res => {
            this.$notification.success({message: 'Successful'})
            this.$emit('ok')
            this.hide()
          })
          .catch(err => this.$notification.error({message: err.response?.data?.message || 'Failed'}))
        }else{
          await createProduct(params)
              .then(res => {
                this.$notification.success({message: 'Successful'})
                this.$emit('ok')
                this.hide()
              })
              .catch(err => this.$notification.error({message: err.response?.data?.message || 'Failed'}))
        }
      })
    },
    async loadListSize(){
      this.sizes = await getListSize()
    },
    async loadListCategory(){
      const res = (await getListCategory())
      this.treeData = res.map(x => {
        return {
          ...x,
          value: x.key
        }
      })
    },
    hide(){
      this.$refs.form.resetFields()
      this.visible = false
      this.id = undefined
      this.workingItem = {
        variants:[],
        categories: []
      }
      this.panes.splice(0,this.panes.length)
      this.add(undefined,defaultPanes[0])
      this.$nextTick(() => {
        this.panes.forEach(x => {
          this.$refs[x.key]?.at(0)?.clearData()
        })
      })
    },
    async showModal(id){
      this.id = id
      this.visible = true
      await this.loadListSize()
      if(id){
        const res = await getProductById(id)
        this.workingItem = {...res}
        for(let i = 0; i < this.workingItem.variants.length; i++){
          let tabKey = 'v1'
          if(i !== 0) tabKey = this.add()
          this.workingItem.variants[i].tabKey = tabKey
        }
        this.$nextTick(()=>{
          this.panes.forEach((value,index) => {
            this.$refs[value.key]?.at(0)?.setData(this.workingItem.variants[index])
          })
        })
        this.workingItem.categories = this.workingItem.categories.map(x => ({key:x.categoryId,title:x.categoryName,value:x.categoryId}))
      }
      this.loading = false
    },
    onEdit(targetKey, action) {
      this[action](targetKey);
    },
    add(targetKey,tab) {
      const panes = this.panes;
      let activeKey = 'v1'
      if(tab){
        panes.push(tab)
        activeKey = tab.key
      }else{
        activeKey = this.panes.length > 0 ? this.panes[this.panes.length - 1].key.replace('v','') : '0'
        const activeNumber = Number(activeKey)
        console.log(activeNumber)
        activeKey = `v${activeNumber + 1}`
        panes.push({ title: `Variant ${activeNumber+1}`, key: activeKey })
      }
      this.panes = panes;
      this.activeKey = activeKey
      console.log(activeKey)
      return activeKey
    },
    remove(targetKey) {
      let activeKey = this.activeKey;
      let lastIndex;
      this.panes.forEach((pane, i) => {
        if (pane.key === targetKey) {
          lastIndex = i - 1;
        }
      });
      const panes = this.panes.filter(pane => pane.key !== targetKey);
      if (panes.length && activeKey === targetKey) {
        if (lastIndex >= 0) {
          activeKey = panes[lastIndex].key;
        } else {
          activeKey = panes[0].key;
        }
      }
      this.panes = panes;
      this.activeKey = activeKey;
      let index = this.workingItem.variants?.findIndex(x => x.tabKey === targetKey)
      index = index === undefined ? -1 : index
      if(index >= 0){
        this.workingItem.variants.splice(index,1)
      }
    },
    handleVariantSave({tabKey, data}){
      let index = this.workingItem.variants?.findIndex(x => x.tabKey === tabKey)
      index = index === undefined ? -1 : index
      if(index >= 0){
        this.workingItem.variants.splice(index,1,{...data})
      }else{
        this.workingItem.variants.push({...data,tabKey:tabKey})
      }
    },
    disabledDate(current) {
      // Can not select days before today and today
      return current && current < this.$moment().startOf('day');
    }
  },
  async created() {
    await this.loadListCategory()
  }
}
</script>

<style scoped>

</style>