<template>
  <a-modal :visible="visible">

  </a-modal>
</template>

<script>


export default {
  data() {
    return {
      visible: false
    }
  },
  methods:{
    show(id){
      this.visible = true
    },
    hide(){
      this.visible = false
    }
  }
}
</script>

<style scoped>

</style>