<template>
  <a-form-model :model="workingItem" ref="form">
    <a-row :gutter="12">
      <a-col :span="12">
        <a-form-model-item label="Name" prop="name" :rules="[{required:true,message:'This field is required'}]">
          <a-input placeholder="Variant Name" :disabled="!editable" :maxLength="255" v-model="workingItem.name"></a-input>
        </a-form-model-item>
      </a-col>
      <a-col :span="12">
        <a-form-model-item label="Color" prop="color" :rules="[{required:true,message:'This field is required'}]">
          <a-input :disabled="!editable" type="color" v-model="workingItem.color"></a-input>
        </a-form-model-item>
      </a-col>
      <a-col :span="24">
        <a-form-model-item prop="sizes" :rules="[{required:true,message:'Size at least one',trigger:'change'}]">
          <a-button :disabled="!editable" style="margin-bottom: 15px" @click="addSize">Add Size</a-button>
          <a-table
              rowKey="id"
              :data-source="sizeDataSource"
              :columns="columns"
          >
            <template slot="size" slot-scope="text, record">
              <div v-if="record.isEditing">
                <a-select v-model="record.size">
                  <a-icon slot="suffixIcon" type="caret-down"></a-icon>
                  <a-select-option v-for="(item,index) in sizes" :key="index" :value="item.code">
                    {{item.name}}
                  </a-select-option>
                </a-select>
                <span v-show="record.isDuplicated" style="color: red">Size is duplicate</span>
                <span v-show="record.isDirty && !record.size" style="color: red">This field is required</span>
              </div>
              <span v-else>{{record.size}}</span>
            </template>
            <template slot="qty" slot-scope="text, record">
              <span v-if="!record.isEditing">{{ record.quantity }}</span>
              <a-input-number
                  style="width: 100%;"
                  v-if="record.isEditing"
                  v-model="record.quantity"
                  :min="0"
                  :max="999999"
                  :formatter="value => `${value}`.replace(/[^0-9]/g, '')"
                  :parser="value => value"
              />
              <span v-show="record.isDirty && !record.quantity" style="color: red">This field is required</span>
            </template>
            <template slot="action" slot-scope="text, record, index">
              <a-button :disabled="!editable" v-if="record.isEditing" @click="onSaveSize(record.id)" type="primary" shape="circle" icon="save"></a-button>
              <a-button :disabled="!editable" v-else @click="onEditSize(record.id)" style="background: #35d230" shape="circle" icon="edit"></a-button>
              <a-button :disabled="!editable" @click="onDeleteSize(record.id)" type="danger" shape="circle" icon="delete"></a-button>
            </template>
          </a-table>
        </a-form-model-item>
      </a-col>
      <a-col :span="12">
        <a-form-model-item label="Thumbnail" prop="thumbnail" :rules="[{required:true,message:'This field is required'}]">
          <a-upload-dragger
              :disabled="!editable"
              name="file"
              :multiple="false"
              accept="image/*"
              :customRequest="uploadThumbnail"
              :action="$config.urlImagesUpload"
              @change="handleChange"
              :remove="handleRemoveThumbnail"
              :fileList="defaultThumbnail"
              @download="viewImage"
          >
            <p class="ant-upload-drag-icon">
              <a-icon type="inbox" />
            </p>
            <p class="ant-upload-text">
              Click or drag file to this area to upload
            </p>
          </a-upload-dragger>
        </a-form-model-item>
      </a-col>
      <a-col :span="12">
        <a-form-model-item label="Images" prop="images" :rules="[{required:true,message:'This field is required'}]">
          <a-upload-dragger
              :remove="handleRemoveImages"
              :disabled="!editable"
              name="file"
              :multiple="true"
              accept="image/*"
              :customRequest="uploadImages"
              :action="$config.urlImagesUpload"
              @change="handleChange"
              :fileList="defaultImages"
              @download="viewImage"
          >
            <p class="ant-upload-drag-icon">
              <a-icon type="inbox" />
            </p>
            <p class="ant-upload-text">
              Click or drag file to this area to upload
            </p>
          </a-upload-dragger>
        </a-form-model-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="8">
        <a-button @click="onSaveVariant" v-if="editable" type="primary">Save</a-button>
        <a-button @click="onEditable" v-else style="background: #35d230;color: white">Edit</a-button>
      </a-col>
    </a-row>
    <a-modal :visible="imgPreviewVisible && openImageUrl" @cancel="imgPreviewVisible = false">
      <img :src="`${$config.prefixImagesApi}/${openImageUrl}`" alt="">
    </a-modal>
  </a-form-model>
</template>

<script>
import {uploadImages} from "../../../services/image"
export default {
  props:{
    sizes:{
      type: Array,
      required: true
    },
    tabKey:{
      type:String,
      required:true
    }
  },
  data() {
    return {
      workingItem: {
        thumbnail: undefined,
        images: [],
        sizes: []
      },
      sizeDataSource: [],
      editable: true,
      sizeIndexId: 0,
      defaultThumbnail: [],
      defaultImages: [],
      openImageUrl: undefined,
      imgPreviewVisible: false
    }
  },
  computed: {
    columns(){
      return [
        {
          title: 'Size',
          scopedSlots: { customRender: 'size' },
          width: '300px'
        },
        {
          title: 'Quantity',
          scopedSlots: { customRender: 'qty' },
        },
        {
          title: 'Action',
          scopedSlots: { customRender: 'action' },
          width: '200px'
        }
      ]
    }
  },
  methods: {
    handleChange(info) {
      const status = info.file.status;
      if (status === 'done') {
        this.$message.success(`file uploaded successfully.`);
      } else if (status === 'error') {
        this.$message.error(`file upload failed.`);
      }
    },
    async uploadThumbnail({onSuccess, onError, file}) {
      try{
        const formData = new FormData()
        formData.append('file',file)
        const res = await uploadImages(formData)
        this.workingItem.thumbnail = res[0]
        this.defaultThumbnail.push(file)
        onSuccess()
      }catch (err){
        onError()
      }
    },
    async uploadImages({onSuccess, onError, file}){
      try{
        const formData = new FormData()
        formData.append('file',file)
        const [url] = await uploadImages(formData)
        if(!this.workingItem.images) this.workingItem.images = [{uid:file.uid,url:url}]
        else this.workingItem.images.push({uid:file.uid,url:url})
        this.defaultImages.push(file)
        onSuccess()
      }catch (err){
        onError()
      }
    },
    onSaveVariant(){
      this.$refs.form.validate(valid => {
        if(!valid) return
        if(this.sizeDataSource.some(x => x.isEditing)){
          this.$message.warn('Size does not save')
          return
        }
        this.editable = false
        const data = {
          ...this.workingItem,
          sizes: this.workingItem.sizes.map(x => ({...x,sizeCode: x.size || x.sizeCode})),
          images: this.workingItem.images.map(x => ({id: x.url}))
        }
        this.$emit('onSaved',{tabKey:this.tabKey,data:data})
      })
    },
    onEditable(){
      this.editable = true
    },
    addSize(){
      this.sizeDataSource.push({
        id: this.sizeIndexId++,
        isEditing: true,
        size: undefined,
        quantity: 0
      })
    },
    onSaveSize(id){
      const index = this.sizeDataSource.findIndex(x => x.id === id)
      if(index >= 0){
        let duplicate = false
        let dirty = false
        let edit = true
        if(!this.sizeDataSource[index].size || this.sizeDataSource[index].quantity == undefined || this.sizeDataSource[index].quantity < 0){
          dirty = true
        }else if(this.sizeDataSource.some(x => x.size === this.sizeDataSource[index].size && x.id !== id)){
          duplicate = true
        } else edit = false
        this.sizeDataSource.splice(index,1,{
          ...this.sizeDataSource[index],
          isEditing: edit,
          isDuplicated: duplicate,
          isDirty: dirty
        })
        this.workingItem.sizes = JSON.parse(JSON.stringify(this.sizeDataSource))
        this.$refs.form.validateField('sizes')
      }
    },
    onEditSize(id){
      const index = this.sizeDataSource.findIndex(x => x.id === id)
      if(index >= 0){
        this.sizeDataSource.splice(index,1,{
          ...this.sizeDataSource[index],
          isEditing: true
        })
      }
    },
    onDeleteSize(id){
      const index = this.sizeDataSource.findIndex(x => x.id === id)
      if(index >= 0){
        this.sizeDataSource.splice(index,1)
        this.workingItem.sizes = JSON.parse(JSON.stringify(this.sizeDataSource))
        this.$refs.form.validateField('sizes')
      }
    },
    handleRemoveImages(file){
      const index = this.workingItem.images.findIndex(x => x.uid === file.uid)
      if (index >= 0) {
        this.workingItem.images.splice(index, 1)
        if(this.defaultImages) this.defaultImages.splice(index, 1)
      }
    },
    handleRemoveThumbnail(file){
      this.workingItem.thumbnail=undefined
      if(this.defaultThumbnail) this.defaultThumbnail.splice(index, 1)
    },
    setData(data){
      this.editable = false
      this.workingItem = {...data}
      this.workingItem.images = this.workingItem.images.map((value,index) => {
        return {
          uid: `img-${index}`,
          url: value.id
        }
      })
      this.sizeDataSource = this.workingItem.sizes.map((value,index) => {
        return {
          id: index,
          size: value.sizeCode,
          quantity: value.quantity
        }
      })
      this.defaultThumbnail = this.workingItem.thumbnail ? [{
        uid: '1',
        name: this.workingItem.thumbnail,
        status: 'done',
        url: `${this.$config.prefixImagesApi}/${this.workingItem.thumbnail}`,
        thumbUrl: `${this.$config.prefixImagesApi}/${this.workingItem.thumbnail}`
      }] : []

      this.defaultImages = this.workingItem.images.map((value,index) => {
        return {
          uid: value.uid,
          name: value.url,
          status: 'done',
          url: `${this.$config.prefixImagesApi}/${value.url}`,
          thumbUrl: `${this.$config.prefixImagesApi}/${value.url}`
        }
      })
      this.sizeIndexId = this.sizeDataSource.length
    },
    viewImage(file){
      this.openImageUrl = file.url
      this.imgPreviewVisible = true
    },
    clearData(){
      this.workingItem = {
        thumbnail: undefined,
        images: [],
        sizes: []
      }
      this.editable = true
      this.sizeIndexId = 0
      this.defaultThumbnail = []
      this.sizeDataSource = []
      this.defaultImages = []
      this.openImageUrl = undefined
      this.imgPreviewVisible = false
    }
  }
}
</script>

<style scoped>
::v-deep .ant-btn{
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
</style>